@charset "UTF-8";

/* ----トピック---- */

.block-top-topic--header {
  font-size: 28px;
  line-height: 1.5;
  border-top: #5286C6 2px solid;
  padding: 35px 0 41px;
  font-weight: bold;
  margin: 0;
}

.block-top-topic--header span {
  display: block;
  font-size: 11px;
}

.block-top-topic--body {
  margin-bottom: 60px;
}

.block-top-topic--items li {
  border-bottom: 1px solid #D9DFE3;
  padding: 14px 0 15px;
}

.block-top-topic--items dl,
.block-top-topic--items dt,
.block-top-topic--items dd {
  display: inline;
}

.block-top-topic--items dt {
  margin-right: 20px;
}

.block-top-topic--icon{
  margin-right: 10px;
}

.block-top-topic--next-page {
  text-align: right;
  margin-top: 22px;
}

.block-top-topic--next-page a {
  color: #444444;
  text-decoration: underline;
  font-size: 14px;
}

.block-top-topic--items img {
  vertical-align: middle;
}

.block-topic-page--article-icon {
  vertical-align: middle;
}

.block-topic-page--article figure {
  font-size: 0;
}

.block-topic-page--article figure img {
  padding-bottom: 10px;
}

.block-topic-details--items dl,
.block-topic-details--items dt,
.block-topic-details--items dd {
  display: inline;
}

.block-topic-details--items dt {
  margin-right: 10px;
}

.block-topic-details--items img {
  vertical-align: middle;
}

.block-topic-details--items li {
  border-bottom: #ddd 1px solid;
  padding: 10px 0;
}

/* ----最近見た商品---- */

.block-recent-item {
  width: 900px;
  margin-top: 50px;
}

.block-recent-item--header {
  font-size: 28px;
  border-top: #5286C6 2px solid;
  padding: 19px 0 30px;
}

.block-recent-item--items {
  width: 900px;
}

.block-recent-item--keep-history {
  text-align: right;
  margin-top: 20px;
}

.block-recent-item--keep-history a {
  color: #444;
  text-decoration: underline;
  font-size: 14px;
}

/* ----最近チェックした商品(ブランド)---- */

.block-brand-recent-item {
  width: 900px;
}

.block-brand-recent-item--header {
  font-size: 28px;
  text-align: center;
  border-top: #444 2px solid;
  padding: 19px 0 30px;
}

.block-brand-recent-item--items {
  width: 900px;
}

.block-brand-recent-item--keep-history {
  text-align: right;
  margin-top: 20px;
}

.block-brand-recent-item--keep-history a {
  color: #6fb4c3;
  text-decoration: underline;
  font-size: 14px;
}

/* ----最近チェックした商品(カート)---- */

.block-cart-recent-item {
  width: 1200px;
}

.block-cart-recent-item--header {
  font-size: 28px;
  text-align: center;
  border-top: #5286C6 2px solid;
  padding: 19px 0 30px;
}

.block-cart-recent-item--items {
  width: 1200px;
}

.block-cart-recent-item--keep-history {
  text-align: right;
  margin-top: 20px;
}

.block-cart-recent-item--keep-history a {
  color: #6fb4c3;
  text-decoration: underline;
  font-size: 14px;
}

/* ----検索サジェスト---- */

.block-search-suggest {
  position: absolute;
  display: block;
  z-index: 1000;
  text-align: left;
  padding: 5px;
  width: 370px;
  background-color: #fff;
  border: 1px solid #000;
}

.block-search-suggest--keyword {
  padding: 2px;
}

.block-search-suggest--keyword-entry {
  display: block;
  text-decoration: none;
}

.block-search-suggest--goods {
  min-height: 60px;
  padding: 2px;
  display: block;
  clear: both;
}

.block-search-suggest--goods-img {
  display: block;
  float: left;
  width: 60px;
  margin-right: 10px;
}

.block-search-suggest--goods-img img {
  width: 60px;
  height: 60px;
}

.block-search-suggest--goods-name,
.block-search-suggest--goods-comment,
.block-search-suggest--goods-price-items {
  width: 100%;
}

.block-search-suggest--keyword:hover,
.block-search-suggest--goods:hover {
  background-color: #dedede;
  cursor: pointer;
}

/* ----パンくず---- */

.block-topic-path {
  padding: 12px 0;
}

.block-topic-path--list li {
  display: inline-block;
  padding-right: 5px;
}

.block-topic-path--list a {
  text-decoration: underline;
}
.block-topic-path--item__current a {
  text-decoration: none;
  pointer-events: none;
}

/* ----左メニューブロック共通---- */

.pane-left-menu .pane-block--title {
  font-size: 16px;
  border-top: #DADFE3 1px solid;
  padding: 16px 0;
  font-weight: bold;
  margin-bottom: 0;
}

.pane-block--title {
  margin: 20px 0;
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  font-weight: bold;
  padding: 35px 0 43px;
}


.pane-left-menu .pane-block--subtitle {
  font-size: 14px;
  padding: 8px 0;
  font-weight: bold;
  border-bottom: #eee 1px solid;
  margin-bottom: 5px;
  cursor: pointer;
}

.pane-block--subtitle {
  margin: 10px 0;
  font-size: 21px;
  font-weight: normal;
}

/* ----キーワード検索ブロック---- */

.block-search-box--search-detail a {
  color: #6fb4c3;
  text-decoration: underline;
}

.block-search-box--form {
  background-color: #eee;
  display: flex;
}

input.block-search-box--keyword:hover,
input.block-search-box--keyword {
  border: none;
  background-color: transparent;
  flex-grow: 1;
}

button.block-search-box--search-submit {
  border: none;
  background-color: transparent;
  width: 33px;
}

.block-search-box--search-detail {
  margin: 5px 0;
}

/* ----Ajaxカートブロック---- */

.block-jscart--items {
  border-bottom: #DADFE3 1px solid;
  margin-bottom: 5px;
}
.block-jscart--items dd {
  text-align: right;
}
.block-jscart--delete {
  text-align: right;
  margin-bottom: 5px;
}
.block-jscart--cart-to-order {
  text-align: center;
  margin-top: 15px;
}

.block-jscart--cart-to-order .btn-default {
  background: #5286C6;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  border: none;
}

.pane-block--title.block-search-box--header{
  padding-top: 27px;
  margin-top: 0;
}
#block_of_jscart {
  padding-bottom: 7px;
  margin-bottom: 20px;
}
.block-jscart--total {
  text-align: right;
  font-weight: bold;
}

/* ----エラー画面---- */

.block-validation-alert {
  text-align: center;
  margin: 100px auto;
  padding: 30px;
  width: 500px;
  border: 1px solid #808080;
}

.block-validation-alert--title {
  font-weight: bold;
  margin-bottom: 10px;
}

.block-validation-alert--link {
  display: block;
  margin-top: 10px;
}

.block-common-alert {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}

.block-common-alert--link {
  display: block;
  margin-top: 10px;
}

.block-common-alert-list {
  margin: 20px auto 20px;
  padding: 20px;
  border: 1px solid #999;
  background-color: #fff;
  width: 800px;
}

.block-common-alert-list--items {
  color: #a94442;
}

/* ----郵便番号サジェスト---- */

.block-ziplist--ziplist-frame {
  z-index: 2000;
}

/* ----サイクル情報編集---- */

.block-regular-cycle--cycle-sub-type {
  margin-bottom: 10px;
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}

.block-regular-cycle--deliv_date {
  width: 100%;
  margin: 20px 0;
}
.block-regular-cycle--deliv_date--prev-expected-dt {
  border-top: 1px dotted #ccc;
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
}

.block-regular-cycle--deliv_date--next-expected-dt {
  border: 1px dotted #ccc;
}

.block-regular-cycle--deliv_date--prev-expected-dt-title,
.block-regular-cycle--deliv_date--next-expected-dt-title {
  padding: 8px;
  text-align: center;
  font-weight: bold;
  vertical-align: top;
  background-color: #f8f8f8;
  border-bottom: 1px dotted #ccc;
}

.block-regular-cycle--deliv_date--prev-expected-dt-date,
.block-regular-cycle--deliv_date--next-expected-dt-date {
  padding: 8px;
  text-align: center;
  font-weight: bold;
  vertical-align: top;
}

/* ----ワンタイムパスワード送信---- */

.block-onetimepassword-certify--resend-message {
  margin-top: 10px;
}
.block-onetimepassword-certify--resend-link {
  cursor: pointer;
  color: #333;
  font-size: 14px;
  border: none;
  text-decoration: underline;
  background: none;
}

/* ----絞り込み項目チェックマーク---- */
.block-filter-checkmark {
  width: auto;
  height: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 絞り込み項目 */
#block_of_filter {
  margin-bottom: 40px;
}
#div_filter1 > div > div.pane-block--subtitle.block-filter--list-inner-label.js-filter-box-inner-label {
  padding-top: 0;
  margin-top: 0;
}
