@charset "UTF-8";

/* ----ページ---- */

.block-page-caption,
.block-page-freespace--top,
.block-page-freespace--bottom,
.block-page-block--contents {
  word-break: break-all;
}

.block-page-block--frame {
  margin-bottom: 40px;
}

.block-page-block--contents-goodslist dl {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.block-page-block--goods-name {
  text-decoration: underline;
}

.block-page-block--contents-body-img-slider-1column {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}

.block-page-block--contents-body-imgtext-slider-1column {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}
