@charset "UTF-8";

/* fade image in after load */
.lazyload {
  opacity: 0;
}
.lazyloading {
  opacity: 1;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 200ms;
}
.sp{
  display: none!important;
}

/* フリーページ */
.free-page-wrapper{
  width: 1200px;
  margin: 0 auto;
}
.freepage--header{
  letter-spacing: 0.04em;
  margin-bottom: 60px;
}
.free-page-wrapper section:not(:nth-of-type(1)) .freepage-section--title{
  margin-top: 50px;
}
.free-page-wrapper section:last-of-type{
  margin-bottom: 80px;
}
.freepage-section--title{
  font-weight: bold;
  letter-spacing: 0.04em;
  padding-top: 35px;
  border-top: 2px solid #5286C6;
}
.freepage-text {
  font-size: 16px;
  letter-spacing: 0.04em;
}
.free-page-wrapper a{
  text-decoration: underline;
  font-weight: bold;
}
.free-page-wrapper .strong {
  font-weight: bold;
}
.free-page-wrapper .tel-link{
  text-decoration: none;
}

/*---------------よくあるご質問---------------*/

.anchor-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.anchor-link-wrapper .anchor-link a {
  width: 389px;
  text-align: center;
  display: block;
  border: 1px solid #D9DFE3;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 50px;
  position: relative;
  margin-bottom: 10px;
  text-decoration: none;
}
.anchor-link-wrapper .anchor-link a::before{
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-top: 2px solid #94AFC5;
  border-right: 2px solid #94AFC5;
  position: absolute;
  top: 18px;
  right: 20px;
  transform: rotate(135deg);
}
.faq-section--title{
  font-weight: bold;
  letter-spacing: 0.04em;
  padding-top: 35px;
  border-top: 2px solid #5286C6;
}
.faq-section:not(:nth-of-type(1)) .faq-section--title{
  margin-top: 50px;
}
.faq-section .faq-section--title.is-hidden {
  display: none;
}
.faq-section .faq-section--title.is-hidden + .faq-section--list {
  border: none;
}
.faq-section .faq-section--list {
  background-color: #fff;
  border-radius: 5px;
}
.faq-section .faq-section--list li {

}
.faq-section .faq-section--list li.is-hidden {
  display: none;
}
.faq-section .faq-section--question {
  padding: 19px 20px;
  position: relative;
  cursor: pointer;
  background: #F2F4F6;
  border-bottom: 1px solid #D9DFE3;
}
.faq-section .faq-section--question:hover {
  opacity: 0.7;
}
.faq-section .faq-section--question::before {
  content: "＋";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: normal;
  color: #8BB0C7;
}
.faq-section li.is-active .faq-section--question::before {
  content: "－";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: normal;
  color: #8BB0C7;
}
.faq-section .faq-section--anwser {
  padding: 23px 15px 28px;
  display: none;
  background-color: #fff;
}
.faq-section .faq-section--anwser .faq-section--other{
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
}
.faq-section .faq-section--anwser a {
  color: #444;
  font-weight: bold;
  text-decoration: underline;
}

.faq-section .faq-section--list p {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.04em;
  position: relative;
}
.faq-section .faq-section--anwser p {
  font-size: 16px;
  font-weight: normal;
  padding-left: 40px;
}
.contact-page-link-area{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}
.contact-page-link-area p{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}
.contact-page-link-area .contact-page-link{
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.04em;
  background: #5286C6;
  border-radius: 3px;
  padding: 16px 107px;
  text-decoration: none;
}
/* プライバシーポリシー */
.freepage-text.privacy-statement{
  margin-bottom: 50px;
}
.block-privacy-page .freepage-text{
  line-height: 1.8;
}