@charset "UTF-8";

/* ----注文フローステップ---- */

.block-order-flow--step {
  padding: 40px 0 20px;
  margin: 0;
  text-align: center;
}

.block-order-flow--step1,
.block-order-flow--step2,
.block-order-flow--step3,
.block-order-flow--step4,
.block-order-flow--step5 {
  display: inline-block;
  position: relative;
  background: #fff;
  margin: 0 30px 0 0;
  padding: 15px 0 5px 15px;
  height: 50px;
}

.block-order-flow--step1:after,
.block-order-flow--step2:after,
.block-order-flow--step3:after,
.block-order-flow--step4:after,
.block-order-flow--step5:after {
  position: absolute;
  top: 0;
  right: -50px;
  content: "";
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left: 25px solid #fff;
  border-bottom-width: 25px;
  border-top-width: 25px;
}

.block-order-flow--step-current {
  color: #fff;
  background: #5286C6;
  font-weight: bold;
}

.block-order-flow--step-current:after {
  border-left: 25px solid #5286C6;
}


/* ----注文フロー右サイドエリア----*/

.block-cart--container,
.block-order-method--container,
.block-order-estimate--container {
  position: relative;
}

.block-cart--container .order-side-area-fixed,
.block-order-method--container .order-side-area-fixed,
.block-order-estimate--container .order-side-area-fixed {
  display: inline-block;
  position: fixed;
  top: 20px;
  z-index: 1;
}

.block-cart--container .order-side-area-end,
.block-order-method--container .order-side-area-end,
.block-order-estimate--container .order-side-area-end {
  position: absolute;
  bottom: 0;
  right: 0;
}



/* ----カートアイテム ---- */

.block-cart--infomation {
  background: #fff;
  border: 1px solid #999;
  margin: 20px auto;
  padding: 20px;
  text-align: left;
  width: 800px;
}

.block-cart--order-button-description {
  font-size: 12px;
  text-align: center;
}

.block-cart--amazonpay {
  border-top: 1px solid #9f9c97;
  padding: 0;
  margin-top: 5px;
  text-align: center;
}

.block-cart--amazonpay-description {
  text-align: left;
  font-size: 12px;
  margin: 5px 0;
}

.block-cart--amazonpay-error {
  color: #a94442;
}

.block-cart--container {
  position: relative;
  overflow: hidden;
}

.block-cart--goods-list-image {
  float: left;
  margin: 0 20px 0 0;
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

.block-cart--goods-list-item-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}

.block-cart .block-icon {
  margin: 0 15px 0 0;
}

.block-cart--goods-list-item {
  float: left;
  width: 400px;
  margin: 8px 0 8px 0;
}

.block-cart--goods-list-item-price-info {
  float: left;
  width: 100px;
  text-align: right;
  margin: 8px 10px 0 10px;
  font-weight: bold;
}

.block-cart--goods-list-item-price {
  color: #333;
}

.block-cart--goods-list-item-input {
  float: right;
  width: 100px;
}

.block-cart--goods-list-item-qty {
  position: relative;
  margin: 0 0 10px 0;
}

.block-cart--goods-list-item-qty input {
  width: 100%;
  padding: 6px 10px 6px 10px;
}

.block-cart--goods-list-item-qty:after {
  position: absolute;
  top: 3px;
  right: 28px;
  content: "";
  width: 1px;
  height: 28px;
  background: #ccc;
}

.block-cart--goods-list-item-qty-plus {
  position: absolute;
  top: 6px;
  right: 10px;
}

.block-cart--goods-list-item-qty-minus {
  position: absolute;
  top: 21px;
  right: 10px;
}

.block-cart--goods-list-item-calc-btn {
  display: block;
  margin: 0 0 10px 0;
  width: 100%;
}

.block-cart--goods-list-item-delete {
  cursor: pointer;
  color: #333;
  font-size: 14px;
  border: none;
  text-decoration: underline;
  background: none;
  width: 100%;
}

.block-cart--goods-list-item-comment {
  padding: 20px 0 15px;
}

/* カート左エリア */
.block-cart--contents {
  width: 900px;
  float: left;
  background: #fff;
}

.block-cart--goods-list li:last-child {
  border: none;
}

.block-cart--goods-list li {
  margin: 20px 40px 20px 0;
  padding: 0 0 20px 0;
  overflow: hidden;
  border-bottom: solid 1px #dcdcdc;
}

/* カート右サイドエリア */
.block-cart--side-area {
  position: relative;
  float: left;
  padding-top: 20px;
}

.block-cart--side-contents {
  width: 280px;
  margin: 0 0 0 20px;
}

.block-cart--procedure {
  border: solid 1px #DADFE3;
  background: #fff;
  padding: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.block-cart--procedure-container {
  padding: 10px;
  overflow: hidden;
  background: #F2F4F6;
}

.block-cart--order-btn {
  display: block;
  margin: 0 0 10px 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

.block-cart--order-btn-gift {
  display: block;
  margin: 0 0 10px 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  background: #ffa200;
  border: #d28500 1px solid;
}


.block-cart--subtotal {
  text-align: center;
  padding: 8px 0;
}

.block-cart .block-exchange-price {
  text-align: center;
  margin-bottom: 8px;
}

.block-cart--subtotal-price {
  font-size: 18px;
  font-weight: bold;
}

.block-cart--continue-shopping {
  text-align: center;
  margin-bottom: 40px;
}

.block-cart--promotion {
  text-align: center;
}

.block-cart--promotion dd,
.block-cart--promotion dt {
  display: inline-block;
  margin-bottom: 10px;
}

.block-cart--promotion-discount {
  font-size: 13px;
  font-weight: bold;
}

.block-cart--continue-shopping-link {
  cursor: pointer;
  color: #333;
  font-size: 14px;
  border: none;
  text-decoration: underline;
  background: none;
}

.block-promotion-message--content {
  border: 1px solid #f00;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  margin: 0 0 10px 0;
  font-size: 12px;
}

.block-promotion-message--content span {
  color: #f00;
  font-weight: bold;
  font-size: 13px;
}

a.block-promotion-message--info {
  text-decoration: none;
}

/* ---------------------- */
/* ----通常の注文--------- */
/* ---------------------- */

/* ----カート画面直後のAmazonPayローディング---- */

.block-order-amazonpay--loading {
  padding: 60px 0;
  text-align: center;
}

/* ----アマゾンウィジェット---- */
.block-order-estimate--amazonpay-address-widget,
.block-order-amazonpay--address-widget,
.block-amazon--address-widget {
  width: 600px;
  margin: 0 auto;
  height: 270px;
  padding: 5px 0;
  box-sizing: content-box;
}

/* ----AmazonPayV2ボタン押下後表示メッセージ---- */
.block-cart--amazonpay-alert {
  display: none;
  color: #a94442;
}

/* ----注文方法指定画面---- */

/* 共通設定 */

.block-order-method--payment-content,
.block-order-method--regular-content,
.block-order-method--spec-content,
.block-order-method--goods-content,
.block-order-method--dest-content,
.block-order-method--host-content,
.block-order-method--host-confirmation {
  background: #fff;
  border: solid 1px #dcdcdc;
  padding: 20px 20px 20px 20px;
  margin: 0 0 20px 0;
}

.block-order-method h2 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.block-order-method h3 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 0 0 12px 0;
}

.block-order-method address {
  font-size: 12px;
  line-height: 1.4;
}

.block-order-method .block-icon {
  margin: 0 15px 0 0;
}

.block-order-method dt {
  font-weight: bold;
}

.block-order-method--container {
  display: block;
  overflow: hidden;
}

.block-order-method--contents {
  width: 860px;
  float: left;
}
.block-order-method--name-sei,
.block-order-method--name-mei,
.block-order-method--kana-sei,
.block-order-method--kana-mei {
  display: inline-block;
}

.block-order-method--value-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

/* 右サイドエリア */
.block-order-method--side-area {
  position: relative;
  float: right;
}

.block-order-method--side-contents {
  background: #eee;
  width: 300px;
  margin: 0 0 0 40px;
}

.block-order-method--procedure {
  border: solid 1px #dcdcdc;
  background: #fff;
  padding: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.block-order-method--procedure-container {
  padding: 14px;
  background: #F2F4F6;
}

.block-order-method--next-btn {
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 14px 0;
  font-weight: bold;
}

/* お届け先 */
.block-order-method--dest-item:first-child {
  border-top: solid 1px #dcdcdc;
}

.block-order-method--dest-item {
  border-bottom: solid 1px #dcdcdc;
  padding: 20px;
  overflow: hidden;
}

.block-order-method--dest-item address {
  float: left;
}

.block-order-method--dest-item-nickname {
  font-weight: bold;
}

.block-order-method--amazonpay-dest-title {
  font-weight: bold;
}

.block-order-method--dest-title-salesinclude {
  font-weight: bold;
  font-size: 16px;
}

.block-order-method--dest-item-salesinclude {
  font-weight: bold;
}

.block-order-method--dest-change {
  padding: 10px;
  margin: 0 0 10px 0;
  background: #f8f8f8;
  border: 1px solid #dcdcdc;
}

.block-order-method--dest-change strong {
  font-weight: bold;
}

.block-order-method--dest-change span {
  margin-left: 20px;
  font-size: 12px;
}

.block-order-method--dest-add,
.block-order-method--amazonpay {
  text-align: right;
  padding: 20px;
}

.block-order-method--dest-item-edit {
  text-align: right;
}

.block-order-method--dest-list address {
  margin: 0 0 0 20px;
}

/* 商品情報 */
.block-order-method--goods-list li {
  position: relative;
  overflow: hidden;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #dfdfdf;
}

.block-order-method--goods-list li:last-child {
  border-bottom: none;
}

.block-order-method--goods-item-image {
  float: left;
  margin: 0 20px 0 0;
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

.block-order-method--goods-item-name,
.block-order-method--goods-item-set-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}
.block-order-method--goods-item-comment {
  padding: 20px 0 15px;
}
.block-order-method--sales-detail-append-item {
  overflow: hidden;
}

/* 配送方法 */
.block-order-method--spec-content dl {
  margin: 0 0 10px 0;
}
.block-order-method--spec-content dl dt {
  float: left;
}
.block-order-method--spec-content dl dd {
  margin-left: 8em;
}
.block-order-method--spec-content .block-regular-cycle--deliv_date dl dt {
  float: none;
}
.block-order-method--spec-content .block-regular-cycle--deliv_date dl dd {
  margin: 0;
}

/* お支払い情報 */
.block-order-method--coupon-content,
.block-order-method--promotion-content,
.block-order-method--point-use {
  margin: 0 0 10px 0;
}

.block-order-method--payment-method-select li {
  margin: 0 0 10px 0;
}

.block-order-method--payment-method-select li .help-block {
  display: inline-block;
  margin-left: 30%;
}

.block-order-method--point-use-select {
  margin-bottom: 10px;
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #dcdcdc;
}

.block-order-method--point-use-select label {
  cursor: pointer;
  padding: 0 23px 0 5px;
}

.block-order-method--current-point {
  margin: 0 0 10px 0;
}

.block-order-method--current-point-num {
  font-weight: bold;
}

.block-order-method--coupon-available-btn {
  margin: 0 0 0 14px;
}

/* その他 */
.block-order-method--sales-append-content {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
}

.block-order-method--sales-append-content .form-label,
.block-order-method--sales-append-content .constraint {
  background-color: #f8f8f8;
}

.block-order-method--sales-append-content .form-group:not(:last-child) {
  border-bottom: solid 1px #dcdcdc;
}

/* クーポンダイアログ */
.block-order-method--coupondialog-wrapper {
  max-height: 300px;
  overflow-y: auto;
}

.block-order-method--coupondialog-table {
  width: 100%;
}

.block-order-method--coupondialog-table td {
  background: #fff;
}

.block-order-method--coupondialog-header-code {
  width: 180px;
}

.block-order-method--coupondialog-header-select {
  width: 180px;
}

/* ---- 注文内容確認(通常フロー) ---- */

/* クレジットカード設定 */
.block-order-estimate--pay-input {
  margin-bottom: 10px;
  background: #f8f8f8;
  border: 1px solid #dcdcdc;
}

.block-order-estimate--pay-header {
  background: #333;
  padding: 10px;
  margin: 0 0 15px 0;
  color: #fff;
}

.block-order-estimate--pay-input .form-group .form-label {
  width: 25%;
}

.block-order-estimate--pay-savecard,
.block-order-estimate--pay-selectcard {
  padding: 0 0 0 20px;
}

.block-order-estimate--pay-input .block-common-alert-list {
  margin: 10px;
}

.block-order-estimate--creditcard-newaddress-message {
  padding: 10px 0 0 0;
  color: #f00;
  font-size: 14px;
  font-weight: bold;
}

/* 画面内共通設定 */
.block-order-estimate--container {
  position: relative;
  overflow: hidden;
}

.block-order-estimate h2 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.block-order-estimate h3 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 0 0 0 0;
}

.block-order-estimate h3 a,
.block-order--amazonpay-btn {
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 0 20px;
  width: 70px;
}

.block-order-estimate--amazonpay-payment-btn {
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 0 20px;
  display: inline;
}

.block-order--amazonpay-btn:focus,
.block-order-estimate--amazonpay-payment-btn:focus {
  outline: 0;
}

.block-order-estimate--salesinclude-btn {
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 0 5px!important;
  width: 120px!important;
}

.block-order-estimate address {
  font-size: 12px;
  line-height: 1.4;
  word-wrap: break-word;
}

.block-order-estimate--point {
  color: #f00;
  font-size: 16px;
  font-weight: bold;
}

.block-order-estimate--confirmation,
.block-order-estimate--date-spec-confirmation,
.block-order-estimate--goods-content,
.block-order-estimate--sales-append,
.block-order-estimate--regular-cycle-confirmation,
.block-order-estimate--comment-content,
.block-order-estimate--amazonpay-login {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
  padding: 20px;
}

.block-order-estimate--novelty {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 20px 0 20px 0;
  padding: 20px 20px 0 20px;
}

.block-order-estimate--entry {
  margin-top: 10px;
  padding: 0 10px;
}

.block-order-estimate--register-customer {
  margin-bottom: 10px;
}

.block-order-estimate--register-customer-checkbox,
.block-order-estimate--register-customer-checkbox-message {
  display: table-cell;
}

.block-order-estimate--entry-customer {
  margin-bottom: 5px;
}

.block-order-estimate--entry-customer-message {
  font-size: 12px;
}

.block-order-estimate--entry-customer-point {
  color: #f00;
  font-size: 15px;
  font-weight: bold;
}

.block-order-estimate--uid-label {
  margin-bottom: 3px;
}

.block-order-estimate--uid-label-font {
  margin-right: 10px;
}

.block-order-estimate--uid-count {
  margin-top: 0;
}

.block-order-estimate--pwd {
  margin-top: 10px;
}

.block-order-estimate--pwd-label {
  margin-bottom: 3px;
}

.block-order-estimate--pwd-label-font {
  margin-right: 10px;
}

.block-order-estimate--pwd-count {
  margin-top: 0;
}

.block-order-estimate--login-state-saving {
  padding-left: 0;
  margin-top: 10px;
}

.block-order-estimate--login-state-saving-message {
  margin-top: 10px;
}

.block-order-estimate--customer-name-label {
  margin-bottom: 3px;
}

.block-order-estimate--customer-name-label-font {
  margin-right: 10px;
}

.block-order-estimate--customer-name-value-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.block-order-estimate--customer-name input[type="text"] {
  width: 200px;
  margin-bottom: 3px;
}

.block-order-estimate--mailnews {
  margin-top: 10px;
}

.block-order-estimate--mailnews-title {
  font-weight: bold;
}

.block-order-estimate--mailnews-label {
  margin-bottom: 3px;
  font-weight: bold;
  margin-right: 10px;
}

.block-order-estimate--mailnews-message {
  font-size: 12px;
}

.block-order-estimate--procedure {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
  padding: 4px;
}

.block-order-estimate--dest-address-item-register-input-form 
.block-order-estimate--dest-address-nickname
.constraint {
  text-align: right;
}

.block-order-estimate--dest-address-item-register-input-form 
.block-order-estimate--dest-address-nickname 
.constraint .required {
  margin: -38px 20px 16px 0;
  display: block;
}

/* 注文内容確認左サイドエリア */
.block-order-estimate--content {
  width: 880px;
  float: left;
}

/* お届け先情報 */
.block-order-estimate--confirmation {
  overflow: hidden;
}

.block-order-estimate--confirmation-list {
  width: 415px;
  display: inline-block;
  vertical-align: top;
}

.block-order-estimate--confirmation-list li {
  padding: 0 0 20px 0;
}

.block-order-estimate--confirmation-list-full li {
  padding: 0 0 20px 0;
}

.block-order-estimate--amazonpay-wallet {
  color: #333;
  border: 1px solid #dcdcdc;
  clear: both;
}

.block-order-estimate--amazonpay-wallet-header {
  background: #333;
  padding: 10px;
  color: #fff;
}

.block-order-estimate--amazonpay-wallet-content {
  margin: 15px auto;
  height: 270px;
}

.block-order-estimate--amazonpay-billagree-wallet-content {
  margin: 15px auto;
  height: 450px;
}

.block-order-estimate--amazonpay-wallet-widget {
  margin: 0 auto;
  width: 600px;
}

.block-order-estimate--amazonpay-consent-widget {
  margin: 0 auto;
  width: 600px;
}

/* 配送希望情報 */
.block-order-estimate--date-spec-confirmation {
  overflow: hidden;
}

.block-order-estimate--confirmation-message {
  color: #555;
  font-size: 12px;
}

/* ノベルティ商品のノベルティ選択 */
.block-order-estimate--novelty-item label {
  cursor: pointer;
}

.block-order-estimate--novelty-item {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.block-order-estimate--novelty-item-image,
.block-order-estimate--novelty-item-goods {
  display: table-cell;
  vertical-align: middle;
}

.block-order-estimate--novelty-item-image {
  width: 60px;
}

.block-order-estimate--novelty-item-goods {
  padding-left: 10px;
  width: auto;
}

.block-order-estimate--novelty-item-image figure {
  width: 60px;
  height: 60px;
  background: #f5f5f5;
}

.block-order-estimate--novelty-none-item-image figure {
  width: 0;
  height: 60px;
  background: #f5f5f5;
}


.block-order-estimate--novelty-list li {
  float: left;
  width: 33%;
}

ul.block-order-estimate--novelty-list {
  overflow: hidden;
  padding: 0 10px 20px 10px;
}

.block-order-estimate--novelty-displaynone {
  display: none;
}

/* お届け方法(定期明細追加) */
.block-order-method--destmethod-detail {
  background: #fff;
  border: solid 1px #dcdcdc;
  padding: 10px;
}

.block-order-method--destmethod-select li {
  margin: 5px 0 5px 0;
}

.block-order-method--regular-add-error {
  color: #a94442;
  mergin-top: 10px;
}

/* 定期申し込み内容(定期明細追加) */
.block-order-method--regular-add-list-detail {
  background: #fff;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  padding: 20px 10px;
}

.block-order-method--regular-add-list-detail:last-of-type {
  border-bottom: 1px solid #dcdcdc;
}

.block-order-method--regular-add-list-list {
  display: flex;
}

.block-order-method--regular-add-list-list > .block-order-method--regular-add-list-address {
  width: 30%;
}

.block-order-method--regular-add-list-list > .block-order-method--regular-add-list-address > dd {
  padding: 0 5px 0 25px;
}

.block-order-method--regular-add-list-list > .block-order-method--regular-add-list-info {
  width: 40%;
}

.block-order-method--regular-add-info .block-order-method--regular-add-info-detail {
  padding: 5px 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 12px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.block-order-method--regular-add-info-detail > span {
  font-size: 12px;
  width: 50%;
}

.block-order-method--regular-add-info-detail > span:last-of-type {
  text-align: right;
}

.block-order-method--regular-add-info .block-order-method--regular-add-goods-info {
  padding: 5px 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  width: 100%;
  background-color: #fff;
}

.block-order-method--regular-add-goods-item > ul {
  display: flex;
  flex-direction: row;
}

.block-order-method--regular-add-goods-item > ul > li {
  width: 50%;
}

.block-order-method--regular-add-goods-item-name {
  max-width: 100%;
}

.block-order-method--regular-add-goods-item-name > span {
  width: 100%;
  display: block;
  word-wrap: break-word;
  padding-left: 10px;
}

.block-order-method--regular-add-goods-item-unit-amount {
  margin: auto auto auto 0;
  text-align: right;
}

.block-order-method--regular-add-goods-item-qty {
  display: inline-block;
  padding: 0 0 0 12px;
}

.block-order-method--regular-add-goods-item-amount {
  display: inline-block;
  padding: 0 0 0 6px;
}

/* ご注文商品 */
.block-order-estimate--goods-list li {
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
}

.block-order-estimate--goods-item-image {
  float: left;
  margin: 0 20px 0 0;
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

.page-estimate .block-icon {
  margin: 0 15px 0 0;
}

.block-order-estimate--goods-item {
  float: left;
  width: 50%;
}

.block-order-estimate--goods-item-comment {
  overflow: hidden;
}

.block-order-estimate--goods-price-items {
  float: right;
}

.block-order-estimate--amt {
  width: 140px;
  text-align: right;
  margin: 0 10px 0 0;
  font-weight: bold;
  color: #333;
}

.block-order-estimate--goods-item-name,
.block-order-estimate--goods-item-set-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}

/* ご注文商品 注文明細拡張情報 */
.block-order-estimate--sales-detail-append-link-edit {
  text-decoration: underline;
}

/* その他 */
.block-order-estimate--sales-append-list {
  width: 100%;
}

.block-order-estimate--sales-append-list th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  vertical-align: top;
  background-color: #999;
  color: #fff;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  width: 30%;
}

/* AmazonPayログイン */
.block-order-estimate--amazonpay-loginform {
  margin: 10px 0 0 0;
}

.block-order-estimate--amazonpay-loginform .form-label {
  text-align: left;
}

/* 備考 */
.block-order-estimate--comment-content textarea {
  width: 100%;
}

/* 注文内容確認右サイドエリア */
.block-order-estimate--order-terms-link {
  text-decoration: underline;
  cursor: pointer;
}

.block-order-estimate--agreebody {
  width: 100%;
  height: 400px;
}

.block-order-estimate--side-area {
  position: relative;
  float: left;
}

.block-order-estimate--side-contents {
  width: 300px;
  margin: 0 0 0 20px;
}

.block-order-estimate--procedure-container {
  padding: 14px;
  background: #F2F4F6;
}

.block-order-estimate--commit {
  text-align: center;
  margin: 0 0 10px 0;
}

.block-order-estimate--commit-btn {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 5px 0;
  padding: 14px 0;
  font-weight: bold;
}

.block-order-estimate--total {
  text-align: center;
  padding: 8px;
  margin: 0 0 10px 0;
  background: #fff;
}

.block-order-estimate .block-exchange-price {
  text-align: center;
  margin-bottom: 12px;
}

.block-order-estimate--total-price {
  font-size: 18px;
  font-weight: bold;
}

.block-order-estimate--total-tax {
  font-size: 11px;
}

.block-order-estimate--point-add {
  overflow: hidden;
  margin: 0 0 10px 0;
  border-bottom: solid 1px #dcdcdc;
  font-size: 12px;
}

.block-order-estimate--point-add dt {
  float: left;
  width: 40%;
}

.block-order-estimate--point-add dd {
  float: left;
  width: 60%;
  text-align: right;
}

.block-order-estimate--point-add-num {
  color: #f00;
  font-size: 16px;
}


.block-order-estimate--point-add dd + dd {
  width: 100%;
  color: #f00;
  font-size: 11px;
  text-align: left;
  padding-bottom: 10px;
}

.block-order-estimate--point-add dd.block-order-estimate--coupon-point-type {
  width: 100%;
  text-align: right;
}

.block-order-estimate--price-items {
  letter-spacing: -.4em;
  font-size: 12px;
  color: #555;
  margin: 10px 0 0 0;
}
.block-order-estimate--price-items dt {
  display: inline-block;
  letter-spacing: normal;
  width: 60%;
  margin: 0 0 10px 0;
}

.block-order-estimate--price-items dd {
  display: inline-block;
  letter-spacing: normal;
  text-align: right;
  width: 40%;
}

/* メッセージ「クール便追加料金を含む」 */
dd.block-order-estimate--cool-postage {
  width: 100%;
  text-align: right;
  margin: 0 0 10px 0;
}

dd.block-order-estimate--coupon-discount-type {
  width: 100%;
  text-align: right;
  margin: 0 0 10px 0;
}

.block-order-estimate--promotion-novelty-helper {
  border: 1px solid #f00;
  background: #fff;
  text-align: center;
  padding: 10px 0;
  margin: 0 0 10px 0;
  cursor: pointer;
}

/* お届け先の変更(ダイアログ)*/
.block-order-estimate--address-frame {
  background: #f8f8f8;
  max-width: 750px;
  margin: 0 auto;
}

.block-order-estimate--value-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

/* ×ボタン */
.block-order-estimate--address-frame-close {
  position: relative;
  cursor: pointer;
}

.block-order-estimate--address-frame-close span {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
}

.block-order-estimate--address-frame-close span:before {
  position: absolute;
  top: 6px;
  right: 0;
  content: "";
  width: 15px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
}

.block-order-estimate--address-frame-close span:after {
  position: absolute;
  top: 0;
  right: 6px;
  content: "";
  width: 2px;
  height: 15px;
  background: #fff;
  transform: rotate(45deg);
}

/* お届け先の変更 */
.block-order-estimate--address-frame h2 {
  color: #fff;
  background: #333;
  border-bottom: none;
  font-size: 16px;
  margin: 0;
  padding: 10px 10px 10px;
}

.block-order-estimate--dest-address-item-register-input-title {
  font-weight: bold;
}

.block-order-estimate--dest-address-select,
.block-order-estimate--amazonpay-address-select {
  padding: 5px 20px;
}

.block-order-estimate--dest-salesinclude-address-select,
.block-order-estimate--dest-salesinclude-address-note {
  padding: 0 20px;
}

.block-order-estimate--amazonpay-address-area p {
  margin-left: 20px;
}

.block-order-estimate--dest-address-list,
.block-order-estimate--dest-address-list-modal {
  padding: 18px;
}

.block-order-estimate--amazonpay-address-container {
  padding: 0 0 10px 0;
}

.block-order-estimate--dest-address-item,
.block-order-estimate--dest-address-item-register {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 220px;
  vertical-align: top;
}

.block-order-estimate--dest-address-item-container {
  height: 130px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 5px 0 0 0;
}

.block-order-estimate--dest-address-item,
.block-order-estimate--dest-address-item-register {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 5px 10px 0;
  padding: 10px;
}

.block-order-estimate--dest-address-item address {
  word-wrap: break-word;
}

.block-order-estimate--dest-address-change-btn {
  width: 100%;
}

.block-order-estimate--dest-address-item-register .block-order-estimate--dest-address-item-buttons {
  position: absolute;
  top: 50%;
  margin: -20px 0 0 0;
}

.block-order-estimate--dest-address-change {
  text-align: right;
}

.block-order-estimate--dest-address-change,
.block-order-estimate--dest-address-item-buttons {
  height: 31px;
}

.block-order-estimate--dest-address-item-buttons__selected {
  cursor: default;
  background: #fffcfc;
  border: 1px solid #f00;
  color: #f00;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 200px;
}

/* お届け先情報入力 */
.block-order-estimate--dest-address-item-register-input-form .fieldset-vertical,
.block-order-estimate--guest-address-input-form {
  background: #fff;
  border: solid 1px #dcdcdc;
  padding: 20px;
}

.block-order-estimate--dest-address-item-register-input-form .fieldset-vertical {
  margin: 10px 0;
}

.block-order-estimate--dest-address-name .checktype_name,
.block-order-estimate--dest-address-kana .checktype_kana,
.block-order-estimate--guest-address-name .checktype_name,
.block-order-estimate--guest-address-kana .checktype_kana {
  margin: 0 0 10px 0;
}

/* お届けサイクル */
.block-order-estimate--regular-cycle th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  vertical-align: top;
  background-color: #999;
  color: #fff;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  width: 30%;
}

.block-order-estimate--prev-expected-dt,
.block-order-estimate--next-expected-dt {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: #fff;
  box-sizing: border-box;
  font-weight: bold;
}

.block-order-estimate--prev-expected-dt {
  padding: 5px;
  margin-top: 15px;
}

.block-order-estimate--next-expected-dt {
  padding: 0 5px 5px 5px;
}

.block-order-estimate--prev-expected-dt > span,
.block-order-estimate--next-expected-dt > span {
  font-size: 18px;
  width: 25%;
}

.block-order-estimate--prev-expected-dt > span:last-of-type,
.block-order-estimate--next-expected-dt > span:last-of-type {
  text-align: left;
  width: 75%;
}

.block-order-estimate--regular-add-info {
  border-top: solid 1px #dcdcdc;
  margin-top: 20px;
  padding-top: 10px;
}

.block-order-estimate--regular-add-info > span {
  font-size: 16px;
}

.block-order-estimate--regular-add-btn {
  margin-top: 10px;
}

.block-order-estimate--regular-cycle-detail {
  width: 80%;
}

.block-order-estimate--confirmation-title {
  display: inline-block;
}

.block-order-estimate--change-btn {
  margin: 0 0 10px 10px;
}

.block-order-regular-add-confirm--regular-cycle-info {
  width: 80%;
  margin: 0 0 0 5px;
  font-size: 14px;
  text-align: left;
}

.block-order-regular-add-confirm--regular-cycle-info span {
  display: block;
}

.block-order-regular-add-confirm--regular-cycle-info a {
  display: block;
  margin-top: 5px;
  text-decoration: underline;
}

/* ---- 注文完了(通常・ギフトフロー共通) ---- */

.block-order-complete--orderinfo,
.block-order-complete--customerentry-wrapper {
  background: #fff;
  border: solid 1px #dcdcdc;
  padding: 20px;
  margin-bottom: 20px;
}

.block-order-complete--message {
  margin: 0 0 10px 0;
}

.block-order-complete--orderinfo dt {
  width: 30%;
  background: #f8f8f8;
  font-weight: bold;
  float: left;
}

.block-order-complete--orderinfo dt,
.block-order-complete--orderinfo dd {
  border-bottom: 1px solid #dcdcdc;
  padding: 8px 8px 8px 8px;
}

.block-order-complete--orderinfo dd {
  margin-left: 30%;
}

.block-order-complete--orderinfo dd:after {
  clear: both;
  display: block;
}

.block-order-complete--home {
  margin: 20px auto;
  text-align: center;
}

.block-order-complete--home-btn {
  padding: 10px;
}

.block-order-complete--customerentry-form {
  margin: 20px 0 0 0;
}

.block-order-complete--rules {
  margin: 10px 0 0 0;
}

.block-order-complete--orderid {
  width: 100%;
  margin-bottom: 10px;
}

.block-order-complete--orderid th {
  width: 30%;
}

.block-order-complete--orderid td {
  width: 70%;
}


.block-order-complete--salesinclude {
  width: 100%;
  margin-bottom: 10px;
}

.block-order-complete--salesinclude th {
  width: 30%;
}

.block-order-complete--salesinclude td {
  width: 70%;
}


.block-order-complete--convenience {
  width: 100%;
  margin-bottom: 10px;
}

.block-order-complete--convenience th {
  width: 30%;
}

.block-order-complete--convenience td {
  width: 70%;
}


/* ---------------------- */
/* ----ギフトフロー------- */
/* ---------------------- */

/* ---- 配送先選択 ---- */

.block-order-gift-dest h2 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.block-order-gift-dest--check-all {
  margin: 0 0 10px 0;
}

.block-order-gift-dest--list-wrapper,
.block-order-gift-dest--method-sender-info,
.block-order-gift-dest--address-item,
.block-order-gift-dest--method-sender-info-edit {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
  padding: 20px 20px 20px 20px;
}

/* お届け先配送情報エリア */
.block-order-gift-dest--address-item {
  background: #f8f8f8;
}

.block-order-gift-dest--address-item-title {
  font-weight: bold;
}

.block-order-gift-dest--address-item address {
  margin: 5px 0 5px 20px;
}

.block-order-gift-dest--address-change {
  text-align: right;
}

.block-order-gift-dest--address-error {
  margin: 0 0 10px 0;
}

/* 贈り主情報エリア */
.block-order-gift-dest--value-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.block-order-gift-dest--method-sender-change label {
  font-weight: bold;
}

.block-order-gift-dest--method-sender-info address {
  margin: 0 0 10px 0;
}

.block-order-gift-dest--address-item {
  background: #f8f8f8;
}

.block-order-gift-dest--method-sender-info-edit {
  margin: 10px 0 0 0;
}

.block-order-gift-dest--method-sender-btn {
  text-align: right;
}

.block-order-gift-dest--action-buttons {
  margin: 0 0 20px 0;
}

/* ---- 配送先商品追加 ---- */
.block-order-gift-select h2 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.block-order-gift-select h3 {
  font-size: 16px;
  font-weight: bold;
}

.block-order-gift-select--sender-info,
.block-order-gift-select--delivery-dest-content,
.block-order-gift-select--delivery-date,
.block-order-gift-select--payment-content,
.block-order-gift-select--point-use-select {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
  padding: 20px 20px 20px 20px;
}

.block-order-gift-select--sender-info {
  margin: 0 0 5px 0;
}

.block-order-gift-select--delivery-dest-add {
  padding: 5px 0 5px 0;
  margin: 0 0 10px 0;
  text-align: right;
}

.block-order-gift-select--delivery-dest-goods-select,
.block-order-gift-select--point-use-select {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
}

/* お届け先 */
.block-order-gift-select--delivery-dest-header {
  position: relative;
}

.block-order-gift-select--delivery-dest-delete {
  position: absolute;
  right: 0;
  top: 3px;
}

.block-order-gift-select--delivery-dest-nickname {
  font-weight: bold;
}

.block-order-gift-select--delivery-dest-address address {
  margin: 0 0 10px 0;
}

.block-order-gift-select--delivery-dest-goods-content-list table {
  width: 100%;
}

.block-order-gift-select--delivery-dest-goods-name {
  width: 800px;
}

.block-order-gift-select--delivery-dest-goods-qty {
  text-align: right;
}

.block-order-gift-select--delivery-dest-goods-qty input {
  text-align: right;
  margin: 0 0 0 10px;
}

/* お届け先商品 */
.block-order-gift-select--delivery-dest-goods-content-info,
.block-order-gift-select--delivery-dest-goods-noshi {
  width: 100%;
  margin: 0 0 10px 0;
}

.block-order-gift-select--delivery-dest-goods-price,
.block-order-gift-select--delivery-dest-goods-total,
.block-order-gift-select--delivery-dest-goods-noshi-charge {
  width: 18%;
  text-align: right;
}

.block-order-gift-select--delivery-dest-goods-sales-qty {
  width: 100px;
}

.block-order-gift-select--delivery-dest-goods-sales-qty input {
  text-align: right;
}

.block-order-gift-select--delivery-dest-goods-content-info-delete,
.block-order-gift-select--delivery-dest-goods-noshi-edit {
  width: 70px;
}

.block-order-gift-select--delivery-dest-goods-noshi th,
.block-order-gift-select--delivery-dest-goods-noshi td {
  text-align: left;
}

.block-order-gift-select--delivery-dest-total table {
  margin-left: auto;
}

/* 配送方法 */
.block-order-gift-select--delivery-date-content {
  display: table;
}

.block-order-gift-select--delivery-date-content dt,
.block-order-gift-select--delivery-date-content dd {
  display: table-cell;
}

/* お支払い情報 */
.block-order-gift-select--method-list li {
  margin: 0 0 10px 0;
}

.block-order-gift-select--method-list li .help-block {
  display: inline-block;
  margin-left: 30%;
}

.block-order-gift-select--method-list label {
  cursor: pointer;
}

.block-order-gift-select--current-point {
  margin: 0 0 10px 0;
}

.block-order-gift-select--current-point-num {
  font-weight: bold;
}

.block-order-gift-select--coupon-available-btn {
  margin: 0 0 0 14px;
}

.block-order-gift-select--point-use-select {
  background: #f8f8f8;
}

.block-order-gift-select--point-use-select label {
  cursor: pointer;
  padding: 0 23px 0 5px;
}

/* その他 */
.block-order-gift-select--sales-append-content {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
}

.block-order-gift-select--sales-append-content .form-group:not(:last-child) {
  border-bottom: solid 1px #dcdcdc;
}

/* ---- のし・ラッピング設定 ---- */

.block-order-gift-noshi h1 {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  padding: 15px 0 0 0;
}

.block-order-gift-noshi h2 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.block-order-gift-noshi h3 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.block-order-gift-noshi--sender {
  font-weight: bold;
}

.block-order-gift-noshi--noshi-select,
.block-order-gift-noshi--purpose-select,
.block-order-gift-noshi--paper-wrapper,
.block-order-gift-noshi--nameprint-wrapper,
.block-order-gift-noshi--covertype-select,
.block-order-gift-noshi--wrap-select,
.block-order-gift-noshi--bag-wrapper {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
  padding: 20px 20px 20px 20px;
}

.block-order-gift-noshi--noshi-select li,
.block-order-gift-noshi--purpose-select li,
.block-order-gift-noshi--paper-wrapper li,
.block-order-gift-noshi--nameprint-wrapper li,
.block-order-gift-noshi--covertype-select li,
.block-order-gift-noshi--wrap-select li,
.block-order-gift-noshi--bag-wrapper li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
}

.block-order-gift-noshi--paper-item-price,
.block-order-gift-noshi--bag-item-price,
.block-order-gift-noshi--wrap-item-price {
  display: block;
}

.block-order-gift-noshi--paper-message,
.block-order-gift-noshi--covertype-message,
.block-order-gift-noshi--wrap-message,
.block-order-gift-noshi--bag-message {
  background: #f8f8f8;
  border: solid 1px #dcdcdc;
  margin: 10px 0 10px 0;
  padding: 20px 20px 20px 20px;
  width: 60%;
}

.block-order-gift-noshi--setting-message {
  text-align: center;
  font-weight: bold;
}

.block-order-gift-noshi--nameprint-input {
  margin: 15px 0 0 0;
}

.block-order-gift-noshi--setting-all-btn {
  margin: 0 0 20px 0;
}

/* ---- 注文内容確認(ギフトフロー) ---- */

.block-order-gift-confirmation h2 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.block-order-gift-confirmation h3 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 0 0 0 0;
}

.block-order-gift-confirmation table {
  width: 100%;
}

.block-order-gift-confirmation--item-image figure,
.block-order-gift-confirmation--sending-item-image figure {
  width: 200px;
  height: 200px;
  background: #f5f5f5;
}

.block-order-gift-confirmation--item-image,
.block-order-gift-confirmation--sending-item-image {
  width: 220px;
}

.block-order-gift-confirmation--order-item-wrapper,
.block-order-gift-confirmation--order,
.block-order-gift-confirmation--destination-address-wrapper,
.block-order-gift-confirmation--other-wrapper,
.block-order-gift-confirmation--novelty,
.block-order-gift-confirmation--order-comment,
.block-order-gift-confirmation--payment-method-wrapper {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
  padding: 20px 20px 20px 20px;
}

.block-order-gift-confirmation--novelty {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 20px 0 20px 0;
  padding: 20px 20px 0 20px;
}

.block-order-gift-confirmation--order-item-detail {
  display: inline-block;
  width: 780px;
  vertical-align: top;
}

.block-order-gift-confirmation--order-item-summary {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  margin: 0 0 0 15px;
}

.block-order-gift-confirmation--order-item-summary-table th,
.block-order-gift-confirmation--point-summary th {
  width: 180px;
}

.block-order-gift-confirmation--order-item-summary-table td,
.block-order-gift-confirmation--point-summary td {
  text-align: right;
}


.block-order-gift-confirmation--item-qty-header {
  width: 50px;
}

.block-order-gift-confirmation--item-amount,
.block-order-gift-confirmation--item-qty {
  text-align: right;
}

/* ノベルティ商品のノベルティ選択 */
.block-order-gift-confirmation--novelty-item label {
  cursor: pointer;
}

.block-order-gift-confirmation--novelty-item {
  display: table;
  margin-bottom: 10px;
  width: 100%;
}

.block-order-gift-confirmation--novelty-item-image,
.block-order-gift-confirmation--novelty-item-goods {
  display: table-cell;
  vertical-align: middle;
}

.block-order-gift-confirmation--novelty-item-image {
  width: 60px;
}

.block-order-gift-confirmation--novelty-item-goods {
  padding-left: 10px;
  width: auto;
}

.block-order-gift-confirmation--novelty-item-image figure {
  width: 60px;
  height: 60px;
  background: #f5f5f5;
}

.block-order-gift-confirmation--novelty-list li {
  float: left;
  width: 33%;
}

ul.block-order-gift-confirmation--novelty-list {
  overflow: hidden;
  padding: 0 10px 20px 10px;
}

.block-order-gift-confirmation--novelty-displaynone {
  display: none;
}

/* 配送情報 */
.block-order-gift-confirmation--shipping-address {
  display: inline-block;
  vertical-align: top;
  width: 700px;
}

.block-order-gift-confirmation--shipping-info {
  width: 430px;
  display: inline-block;
  margin: 0 0 0 15px;
}

.block-order-gift-confirmation--shipping-info-detail th {
  width: 150px;
}

/* お届け先 */
.block-order-gift-confirmation--destination-address {
  margin: 0 0 10px 0;
}

.block-order-gift-confirmation--sending-item-qty-header {
  width: 50px;
}

.block-order-gift-confirmation--sending-item-qty {
  text-align: right;
}

.block-order-gift-confirmation--sending-item-comment-header,
.block-order-gift-confirmation--sending-item-noshi-header {
  width: 220px;
}

/* その他 */
.block-order-gift-confirmation--other-detail th {
  width: 300px;
}

.block-order-gift-confirmation--order-comment textarea {
  width: 100%;
}

.action-buttons .block-order-estimate--commit-btn-rakutenpay {
  margin-top: 10px;
  padding: 1px 0 2px 0;
  vertical-align: middle;
}

/* ----AmazonPayロード中表示---- */

.block-cart--amazonpay-loading {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #fff;
  opacity: 0.8;
  z-index: 2;
}

.block--cart-amazonpay-loading-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* 定期明細追加確認画面 */

/* 画面内共通設定 */
.block-order-regular-add-confirm--container {
  position: relative;
  overflow: hidden;
}

.block-order-regular-add-confirm h2 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.block-order-regular-add-confirm h3 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 0 0 12px 0;
}

.block-order-regular-add-confirm h3 a {
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 0 20px;
  width: 70px;
}

.block-order-regular-add-confirm--salesinclude-btn {
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 0 5px!important;
  width: 120px!important;
}

.block-order-regular-add-confirm address {
  font-size: 12px;
  line-height: 1.4;
  word-wrap: break-word;
}

.block-order-regular-add-confirm--point {
  color: #f00;
  font-size: 16px;
  font-weight: bold;
}

.block-order-regular-add-confirm--goods-label {
  font-size: 16px;
  margin-left: 10px;
}

.block-order-regular-add-confirm--goods .block-order-regular-add-confirm--goods-content {
  margin-left: 10px;
}

.block-order-regular-add-confirm--confirmation,
.block-order-regular-add-confirm--goods-content,
.block-order-regular-add-confirm--sales-append,
.block-order-regular-add-confirm--regular-cycle-confirmation {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
  padding: 20px;
}

.block-order-regular-add-confirm--procedure {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
  padding: 4px;
}

/* 注文内容確認左サイドエリア */
.block-order-regular-add-confirm--content {
  width: 880px;
  float: left;
}

/* お届け先情報 */
.block-order-regular-add-confirm--confirmation {
  overflow: hidden;
}

.block-order-regular-add-confirm--confirmation-list {
  width: 415px;
  display: inline-block;
  vertical-align: top;
}

.block-order-regular-add-confirm--confirmation-list li {
  padding: 0 0 20px 0;
}

.block-order-regular-add-confirm--confirmation-list-full li {
  padding: 0 0 20px 0;
}

/* お届け方法(定期明細追加) */
.block-order-method--destmethod-detail {
  background: #fff;
  border: solid 1px #dcdcdc;
  padding: 10px;
}

.block-order-method--destmethod-select li {
  margin: 5px 0 5px 0;
}

/* ご注文商品 */
.block-order-regular-add-confirm--goods-list li {
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
}

.block-order-regular-add-confirm--goods-item-image {
  float: left;
  margin: 0 20px 0 0;
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

.page-regular-add-confirm .block-icon {
  margin: 0 15px 0 0;
}

.block-order-regular-add-confirm--goods-item {
  float: left;
  width: 50%;
}

.block-order-regular-add-confirm--goods-item-comment {
  overflow: hidden;
}

.block-order-regular-add-confirm--goods-price-items {
  float: right;
}

.block-order-regular-add-confirm--goods-price,
.block-order-regular-add-confirm--goods-price-first {
  text-align: right;
}

.block-order-regular-add-confirm--goods-price-first {
  font-weight: bold;
  font-size: 14px;
}

.block-order-regular-add-confirm--amt {
  width: 140px;
  margin: 0 10px 0 0;
  font-weight: bold;
  color: #333;
}

.block-order-regular-add-confirm--goods-item-name,
.block-order-regular-add-confirm--goods-item-set-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}

/* ご注文商品 注文明細拡張情報 */
.block-order-regular-add-confirm--sales-detail-append-link-edit {
  text-decoration: underline;
}

/* その他 */
.block-order-regular-add-confirm--sales-append-list {
  width: 100%;
}

.block-order-regular-add-confirm--sales-append-list th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  vertical-align: top;
  background-color: #999;
  color: #fff;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  width: 30%;
}


/* 注文内容確認右サイドエリア */
.block-order-regular-add-confirm--order-terms-link {
  text-decoration: underline;
  cursor: pointer;
}

.block-order-regular-add-confirm--agreebody {
  width: 100%;
  height: 400px;
}

.block-order-regular-add-confirm--side-area {
  position: relative;
  float: left;
}

.block-order-regular-add-confirm--side-contents {
  width: 300px;
  margin: 0 0 0 20px;
}

.block-order-regular-add-confirm--procedure-container {
  padding: 14px;
  background: #fffce4;
}

.block-order-regular-add-confirm--commit {
  text-align: center;
  margin: 0 0 10px 0;
}

.block-order-regular-add-confirm--commit-btn {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 5px 0;
  padding: 14px 0;
  font-weight: bold;
}

.block-order-regular-add-confirm--total {
  text-align: center;
  padding: 8px;
  margin: 0 0 10px 0;
  background: #fff;
}

.block-order-regular-add-confirm--total-price {
  font-size: 18px;
  font-weight: bold;
}

.block-order-regular-add-confirm--total-tax {
  font-size: 11px;
}

.block-order-regular-add-confirm--price-items {
  letter-spacing: -.4em;
  font-size: 12px;
  color: #555;
  margin: 10px 0 0 0;
}
.block-order-regular-add-confirm--price-items dt {
  display: inline-block;
  letter-spacing: normal;
  width: 60%;
  margin: 0 0 10px 0;
}

.block-order-regular-add-confirm--price-items dd {
  display: inline-block;
  letter-spacing: normal;
  text-align: right;
  width: 40%;
}

/* メッセージ「クール便追加料金を含む」 */
dd.block-order-regular-add-confirm--cool-postage {
  width: 100%;
  text-align: right;
  margin: 0 0 10px 0;
}

/* お届けサイクル */
.block-order-regular-add-confirm--confirmation-title,
.block-order-regular-add-confirm--goods-title {
  display: inline-block;
}

.block-order-regular-add-confirm--regular-cycle > a,
.block-order-regular-add-confirm--goods > a {
  margin: 0 0 10px 10px;
}

.block-order-regular-add-confirm--regular-cycle-detail {
  width: 80%;
}

.block-order-regular-add-confirm--regular-cycle-detail th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  vertical-align: top;
  background-color: #999;
  color: #fff;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  width: 30%;
}

.block-order-regular-add-confirm--next-expected-dt {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 80%;
  background-color: #fff;
  box-sizing: border-box;
  font-weight: bold;
  margin-top: 15px;
}

.block-order-regular-add-confirm--next-expected-dt > span {
  font-size: 18px;
  width: 25%;
}

.block-order-regular-add-confirm--next-expected-dt > span:last-of-type {
  text-align: left;
  width: 75%;
}

.block-order-regular-add-confirm--regular-cycle-info {
  width: 80%;
  margin: 0 0 0 5px;
  font-size: 14px;
  text-align: left;
}

.block-order-regular-add-confirm--regular-cycle-info span {
  display: block;
}

.block-order-regular-add-confirm--regular-cycle-info a {
  display: block;
  margin-top: 5px;
  text-decoration: underline;
}

/* ---- 明細追加完了 ---- */

.block-order-regular-add-complete--regular-sales-info {
  background: #fff;
  border: solid 1px #dcdcdc;
  padding: 20px;
  margin-bottom: 20px;
}

.block-order-regular-add-complete--message {
  margin: 0 0 10px 0;
}

.block-order-regular-add-complete--regular-sales-info dt {
  width: 30%;
  background: #f8f8f8;
  font-weight: bold;
  float: left;
}

.block-order-regular-add-complete--regular-sales-info dt,
.block-order-regular-add-complete--regular-sales-info dd {
  border-bottom: 1px solid #dcdcdc;
  padding: 8px 8px 8px 8px;
}

.block-order-regular-add-complete--regular-sales-info dd {
  margin-left: 30%;
}

.block-order-regular-add-complete--regular-sales-info dd:after {
  clear: both;
  display: block;
}

.block-order-regular-add-complete--home {
  margin: 20px auto;
  text-align: center;
}

.block-order-regular-add-complete--home-btn {
  padding: 10px;
}

.block-order-regular-add-complete--rules {
  margin: 10px 0 0 0;
}

.block-order-regular-add-complete--regular-sales {
  width: 100%;
  margin-bottom: 10px;
}

.block-order-regular-add-complete--regular-sales th {
  width: 30%;
}

.block-order-regular-add-complete--regular-sales td {
  width: 70%;
}
