@charset "UTF-8";

/* ----店舗一覧：block-store-list---- */

.block-store-list--area {
  width: 100%;
  display: flex;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px;
  margin-bottom: 30px;
  float: left;
}

.block-store-list--area-title {
  font-weight: bold;
  margin-right: 10px;
}

.block-store-list--area-anchor ul {
  display: flex;
}

.block-store-list--area-anchor li {
  padding-right: 15px;
}

.block-store-list--area-anchor a {
  text-decoration: underline;
}

.block-store-list--area-anchor a:before {
  content: "＞";
}

.block-store-list--stores {
  margin-bottom: 20px;
}

.block-store-list--stores-title {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
  clear: both;
}

.block-store-list--stores-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block-store-list--store {
  width: 400px;
  padding-left: 5px;
}

.block-store-list--store-image {
  width: 400px;
}

.block-store-list--store-image figure {
  background: #f5f5f5;
  width: 390px;
  height: 300px;
}

.block-store-list--store-image figure:hover {
  opacity: 0.7;
}

.block-store-list--store-description {
  padding: 10px;
}

.block-store-list--store-name {
  margin-bottom: 20px;
  font-size: 20px;
}

.block-store-list--store-name a {
  color: #000;
  text-decoration: underline;
}

.block-store-list--store-details {
  display: flex;
  flex-direction: column;
}

.block-store-list--store-details dl {
  display: flex;
}

.block-store-list--store-details dt {
  white-space: nowrap;
}

.block-store-list--store-address {
  width: 100%;
  order: 10;
}

.block-store-list--store-tel {
  width: 100%;
  order: 20;
}

.block-store-list--store-sales-info {
  width: 100%;
  order: 30;
}

.block-store-list--store-regularholiday {
  width: 100%;
  order: 40;
}

.block-store-list--store-access {
  width: 100%;
  order: 50;
}

/* ----店舗詳細：block-store-detail---- */

.block-store-detail--title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-store-detail--store-images {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 20px;
}

.block-store-detail--store-src-1 {
  padding: 10px;
  width: 50%;
  order: 10;
}

.block-store-detail--store-src-2 {
  padding: 10px;
  width: 50%;
  order: 20;
}

.block-store-detail--store-src-3 {
  padding: 10px;
  width: 50%;
  order: 30;
}

.block-store-detail--store-src-4 {
  padding: 10px;
  width: 50%;
  order: 40;
}

.block-store-detail--store-src-5 {
  padding: 10px;
  width: 50%;
  order: 50;
}

.block-store-detail--store {
  display: flex;
  margin-bottom: 20px;
}

.block-store-detail--store-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.block-store-detail--store-info dl {
  display: flex;
}

.block-store-detail--store-info dt {
  white-space: nowrap;
}

.block-store-detail--store-address {
  width: 100%;
  order: 10;
}

.block-store-detail--store-tel {
  width: 100%;
  order: 20;
}

.block-store-detail--store-fax {
  width: 100%;
  order: 30;
}

.block-store-detail--store-sales-info {
  width: 100%;
  order: 40;
}

.block-store-detail--store-regularholiday {
  width: 100%;
  order: 50;
}

.block-store-detail--store-etc-sales-info {
  width: 100%;
  order: 60;
}

.block-store-detail--store-access {
  width: 100%;
  order: 70;
}

.block-store-detail--store-comment {
  width: 100%;
  order: 80;
}

.block-store-detail--store-map-info {
  width: 50%;
}

.block-store-detail--store-map {
  display: none;
  width: 100%;
  height: 400px;
}

.block-store-detail--store-separate-map {
  display: none;
  margin-top: 5px;
  text-decoration: underline;
}

.block-store-detail--store-separate-map a:before {
  content: "＞";
}
