@charset "UTF-8";

.wrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pane-globalnav {
  position: relative;
  background-color: #444;
  color: #fff;
}

.pane-footer {
  background: #F2F4F6;
  margin-top: auto;
}

.pane-topic-path {
  background-color: #FFF;
}

.pane-order-header {
  border-bottom: 2px solid #666;
}

.pane-order-contents {

}

.pane-landingpage-contents {
  background: #eee;
  border: 1px solid #eee;
}

.block-member-info,
.block-member-info-confirmation,
.block-member-registration-completed,
.block-shipping-address,
.block-credit-card-confirmation,
.block-inquiry,
.block-inquiry-history,
.block-mail-address,
.block-member-password,
.block-reset-password,
.block-user-review,
.block-mail-news {
  width: 900px;
  margin: 0 auto;
}

