@charset "UTF-8";

/* ----スマホ切り替えバナー---- */

.block-switch-banner {
  width: 1200px;
  position: relative;
  display: none;
}

.block-switch-banner--btn {
  width: 100%;
}

.block-switch-banner--hide-btn {
  position: absolute;
  top: 2px;
}

/* ----メールニュース画面----*/

.block-mail-news--terms-body {
  padding: 20px;
  width: 100%;
  border-color: #e5e5e0;
  margin-bottom: 40px;
}

.block-mail-news--register-form {
  margin-bottom: 40px;
}

/* ----アンケート画面----*/

.block-questionnaire--item-description {
  margin: 10px 0;
}

.block-questionnaire--name-value-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

/* ----クイックオーダー---- */

.block-quick-order--table {
  width: 100%;
}

.block-quick-order--goods-code-header {
  width: 320px;
}

.block-quick-order--goods-detail-cell {
  width: 100px;
}

.block-quick-order--qty-header {
  width: 100px;
}

.block-quick-order--subtotal-header {
  width: 100px;
}

.block-quick-order--stock-header {
  width: 100px;
}

.block-quick-order--delete-btn-header {
  width: 80px;
}

.block-quick-order--suggest-list {
  background-color: #fff;
  border: 1px solid #000;
  display: none;
  padding: 5px;
  position: absolute;
  top: 50px;
  left: 5px;
}

.block-quick-order--suggest-list-line {
  padding: 2px;
  list-style: none;
}

.block-quick-order--suggest-item-code {
  float: left;
  font-weight: bold;
  margin-right: 5px;
}

.block-quick-order--suggest-item-not-found {
  text-align: center;
  padding: 5px;
  height: 20px;
  width: 250px;
}

.block-quick-order .block-quick-order--forward {
  padding: 12px 0;
  font-size: 18px;
  width: 240px;
}

/* ----ランディングページ---- */

.block-landingpage-login--member-body {
  display: table;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  border: solid 3px #dcdcdc;
  background: #fff;
  table-layout: fixed;
}

.block-landingpage-login--member-frame {
  display: table-cell;
}

.block-landingpage-login--login {
  margin-top: 10px;
  padding: 12px 0;
  font-size: 16px;
  width: 160px;
}

.block-landingpage-login--ask-password {
  margin-top: 10px;
  text-align: center;
}

.block-landingpage-form {
  margin-top: 10px;
  display: table;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  border: solid 3px #dcdcdc;
  background: #fff;
}

.block-landingpage-form--goods {
  padding: 20px;
  border: solid 1px #dcdcdc;
  background: #fff;
}

.block-landingpage-form--spec-content {
  padding: 20px;
  border: solid 1px #dcdcdc;
  background: #fff;
}

.block-landingpage-form--goods {
  padding: 20px;
  border: solid 1px #dcdcdc;
  background: #fff;
}

.block-landingpage-form--spec-content dl {
  margin: 0 0 10px 0;
}

.block-landingpage-form--payment-content {
  padding: 20px;
  border: solid 1px #dcdcdc;
  background: #fff;
}

.block-landingpage-form--payment-content-method-select li {
  margin: 0 0 10px 0;
}

.block-landingpage-form--sales-append-content {
  background: #fff;
  border: solid 1px #dcdcdc;
  margin: 0 0 20px 0;
}

.block-landingpage-form--sales-append-content .form-label,
.block-landingpage-form--sales-append-content .constraint {
  background-color: #f8f8f8;
}

.block-landingpage-form--sales-append-content .form-group:not(:last-child) {
  border-bottom: solid 1px #dcdcdc;
}

.block-landingpage-login--guest-body {
  display: table;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  border: solid 3px #dcdcdc;
  background: #fff;
}

.block-landingpage-login--guest-info {
  padding: 20px;
  border: solid 1px #dcdcdc;
  background: #fff;
}

.block-landingpage-login--guest-info-value-label,
.block-landingpage-other--dest-input-value-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.block-landingpage-other--dest {
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #dcdcdc;
}

.block-landingpage-other--dest-input {
  padding: 20px;
  border-bottom: solid 1px #dcdcdc;
  border-left: solid 1px #dcdcdc;
  border-right: solid 1px #dcdcdc;
  background: #fff;
}

.block-landingpage-order {
  padding: 20px;
  border: solid 1px #dcdcdc;
  background: #fff;
}

.block-landingpage-login--customer-status {
  background: #444;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 20px;
}

.block-landingpage-login--sign {
  flex-grow: 1;
  text-align: center;
  padding: 8px 0;
  border-right: #fff 1px solid;
}

.block-landingpage-login--mypoint {
  flex-grow: 2;
  font-size: 24px;
  padding-left: 34px;
}

.block-landingpage-login--rank-status {
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: flex-end;
}

.block-landingpage-login--rank-condition dl {
  display: flex;
  align-items: center;
}

.block-landingpage-login--customer-name {
  font-size: 24px;
}

.block-landingpage-login--mypoint-duedate {
  font-size: 14px;
  display: block;
}

.block-landingpage-login--rank-info {
  border: #fff 1px solid;
  text-align: center;
  padding: 12px 18px 13px;
}

.block-landingpage-login--rank-title {
  font-size: 12px;
}

.block-landingpage-login--rank-name {
  font-size: 14px;
}

.block-landingpage-login--rank-condition {
  padding: 0 10px 0 17px;
}

.block-landingpage-login--rank-condition-1 {
  margin-bottom: 2px;
}

.block-landingpage-login--rank-condition-1-title,
.block-landingpage-login--rank-condition-2-title {
  background: #fff;
  color: #444;
  text-align: center;
  padding: 1px 5px;
  border-radius: 2px;
  font-size: 12px;
  margin-right: 5px;
}

.block-landingpage-login--rank-condition-1-title i,
.block-landingpage-login--rank-condition-2-title i {
  padding-right: 3px;
}

/* ----住所2の注意メッセージ---- */
.block-addr2-message {
  color: #f66;
}

/* ----生年月日の注意メッセージ---- */
.block-birth-message {
  color: #f66;
}
