@charset "UTF-8";

/* ----会員規約画面---- */

.block-member-terms--header {
  margin-top: 0;
}

.block-member-terms--body {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

/* ----マイページ画面---- */

.block-mypage--customer-status {
  background: #95B6CC;
  background: #5286C6;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 20px;
}

.block-mypage--sign {
  flex-grow: 1;
  text-align: center;
  padding: 8px 0;
}

.block-mypage--mypoint {
  flex-grow: 2;
  font-size: 24px;
  padding-left: 34px;
}

.block-mypage--rank-status {
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: flex-end;
}

.block-mypage--rank-condition dl {
  display: flex;
  align-items: center;
}

.block-mypage--customer-name {
  font-size: 24px;
}

.block-mypage--logout {
  font-size: 14px;
}

.block-mypage--mypoint-duedate {
  font-size: 14px;
}

.block-mypage--logout a {
  color: #fff;
  text-decoration: underline;
}

.block-mypage--mypoint-duedate {
  display: block;
}

.block-mypage--rank-info {
  border: #fff 1px solid;
  text-align: center;
  padding: 12px 18px 13px;
}

.block-mypage--rank-title {
  font-size: 12px;
}

.block-mypage--rank-name {
  font-size: 14px;
}

.block-mypage--rank-condition {
  padding: 0 10px 0 17px;
}

.block-mypage--rank-condition-1 {
  margin-bottom: 2px;
}

.block-mypage--rank-condition-1-title,
.block-mypage--rank-condition-2-title {
  background: #fff;
  color: #444;
  text-align: center;
  padding: 1px 5px;
  border-radius: 2px;
  font-size: 12px;
  margin-right: 5px;
}

.block-mypage--rank-condition-1-title i,
.block-mypage--rank-condition-2-title i {
  padding-right: 3px;
}

.block-mypage--customer-barcode {
  text-align: center;
  padding: 10px;
}

.block-mypage--customer-barcode #customer_barcode_ > div {
  margin: 0 auto;
}

.block-mypage--recommend {
  padding: 10px;
  text-align: right;
}

.block-mypage--recommend a {
  text-decoration: underline;
}

.block-mypage--shopping-info,
.block-mypage--member-info,
.block-mypage--inquiry-info,
.block-mypage--snssync-info,
.block-mypage--linesync-info {
  font-size: 22px;
  padding: 20px;
  background: #F2F4F6;
}

.block-mypage--shopping-info i,
.block-mypage--member-info i,
.block-mypage--inquiry-info i,
.block-mypage--snssync-info i,
.block-mypage--linesync-info i {
  padding-right: 5px;
}

.block-mypage--shopping-info-items,
.block-mypage--member-info-items,
.block-mypage--inquiry-info-items,
.block-mypage--snssync-info-items,
.block-mypage--linesync-info-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.block-mypage--shopping-info-items li,
.block-mypage--member-info-items li,
.block-mypage--inquiry-info-items li,
.block-mypage--snssync-info-items li,
.block-mypage--linesync-info-items li {
  width: 390px;
  max-width: 390px;
  flex-grow: 1;
  border: #c8c8c8 1px solid;
  margin: 0 0 15px 15px;
}

.block-mypage--shopping-info-items li:nth-of-type(3n+1),
.block-mypage--member-info-items li:nth-of-type(3n+1),
.block-mypage--inquiry-info-items li:nth-of-type(3n+1),
.block-mypage--snssync-info-items li:nth-of-type(3n+1),
.block-mypage--linesync-info-items li:nth-of-type(3n+1) {
  margin-left: 0;
}

.block-mypage--shopping-info-items li dt,
.block-mypage--member-info-items li dt,
.block-mypage--inquiry-info-items li dt,
.block-mypage--snssync-info-items li dt,
.block-mypage--linesync-info-items li dt {
  border-bottom: #F2F4F6 3px solid;
  display: block;
}

.block-mypage--shopping-info-items li dt a,
.block-mypage--member-info-items li dt a,
.block-mypage--inquiry-info-items li dt a,
.block-mypage--snssync-info-items li dt a,
.block-mypage--linesync-info-items li dt a {
  font-size: 18px;
  padding: 0 0 0 14px;
  display: flex;
  max-width: 390px;
}

.block-mypage--shopping-info-items li dt i,
.block-mypage--member-info-items li dt i,
.block-mypage--inquiry-info-items li dt i,
.block-mypage--snssync-info-items li dt i,
.block-mypage--linesync-info-items li dt i {
  margin: 0 10px 0 auto;
}

.block-mypage--shopping-info-items li dt a:hover,
.block-mypage--member-info-items li dt a:hover,
.block-mypage--inquiry-info-items li dt a:hover,
.block-mypage--snssync-info-items li dt a:hover,
.block-mypage--linesync-info-items li dt a:hover {
  opacity: 0.7;
}

.block-mypage--shopping-info-items li dd,
.block-mypage--member-info-items li dd,
.block-mypage--inquiry-info-items li dd,
.block-mypage--snssync-info-items li dd,
.block-mypage--linesync-info-items li dd {
  padding: 16px 19px;
}

.block-mypage--withdrawal-link {
  text-align: right;
}

.block-mypage--withdrawal {
  color: #444;
  text-decoration: underline;
}

.block-mypage--update-address-book {
  display: block;
  width: 260px;
  height: auto;
  background: #F2F4F6;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

/* スマレジ */
.block-mypage--smaregipoint {
  margin: 10px;
}

/* SNS連動設定モーダル */
.modal--snssync-menu {
  width: 660px;
  margin: auto;
  overflow: hidden;
  zoom: 1;
}

.modal--snssync-menu .snslogin {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  height: 50px;
  background-color: transparent;
  border: none;
}

.modal--snssync-menu .sns_logo {
  width: 40px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.modal--snssync-menu .snslogin-contents {
  float: left;
}

.modal--snssync-menu-contents-facebook .sns_logo {
  background: #1877f2 url(../../img/sys/snslogin/facebook.png) no-repeat;
  background-size: 40px 40px;
}

.modal--snssync-menu-contents-twitter .sns_logo {
  background: #55acee url(../../img/sys/snslogin/twitter.png) no-repeat;
  background-size: 40px 40px;
}

.modal--snssync-menu-contents-gplus .sns_logo {
  background: url(../../img/sys/snslogin/gplus.png) no-repeat;
  background-size: 45px 45px;
  background-position: center;
}

.modal--snssync-menu-contents-yahoo .sns_logo {
  background: #e61017 url(../../img/sys/snslogin/yahoo.png) no-repeat;
  background-size: 38px 38px;
  width: 38px;
  height: 38px;
  border: 1px solid #e61017;
}

.modal--snssync-menu-contents-line .sns_logo {
  background: #00b900 url(../../img/sys/snslogin/line.png) no-repeat;
  background-size: 40px 40px;
}

.modal--snssync-menu button:focus {
  outline: none;
}

.modal--snssync-menu:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

.modal--snssync-menu .sns_word {
  width: 195px;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: left;
  padding: 0 10px;
  margin-left: 1px;
  border-left: solid 1px #ccc;
}

.modal--snssync-menu .snslogin_btn_width {
  width: 280px;
}

.modal--snssync-menu-contents-line .sns_word {
  border: solid 1px #00b900;
}

.modal--snssync-menu-contents-facebook .sns_word {
  border: solid 1px #1877f2;
}

.modal--snssync-menu-contents-twitter .sns_word {
  border: solid 1px #55acee;
}

.modal--snssync-menu-contents-gplus .sns_word {
  border: solid 1px #4285f4;
}

.modal--snssync-menu-contents-yahoo .sns_word {
  border: solid 1px #e61017;
}

.modal--snssync-menu-contents-line .snssync-release .sns_word {
  background: #00b900;
  color: #fff;
}

.modal--snssync-menu-contents-facebook .snssync-release .sns_word {
  background: #3b579d;
  color: #fff;
}

.modal--snssync-menu-contents-twitter .snssync-release .sns_word {
  background: #55acee;
  color: #fff;
}

.modal--snssync-menu-contents-gplus .snssync-release .sns_word {
  background: #de4f3e;
  color: #fff;
}

.modal--snssync-menu-contents-yahoo .snssync-release .sns_word {
  background: #e61017;
  color: #fff;
}

.modal--snssync-menu {
  margin: 15px;
}

/* マイページ用 > line友達登録用 */

.snslogin-line-friends .snslogin-line-friend-message {
  margin-bottom: 10px;
}

.snslogin-line-friends form {
  float: left;
}

.snslogin-line-friends .snslogin_btn_width {
  color: #fff;
  width: 160px;
  margin: 0 16px;
}

.snslogin-line-friends .snslogin-line-friend-sns_word {
  width: 100%;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
  margin-left: 1px;
}

.snslogin-line-friend-yes .snslogin-line-friend-sns_word {
  background: #232323;
}

.snslogin-line-friend-no .snslogin-line-friend-sns_word {
  background: #9a9a9a;
}

/* マイページ用 > LINEアカウント連携設定用 */
.linesync-message {
  margin-bottom: 10px;
}
.linesync-message .linesync-message-clientlist {
  display: block;
  margin-left: 10px;
}
.linesync-message .linesync-message-client {
  white-space: nowrap;
}

/* Lineログイン設定モーダル */
.modal--linesync-menu {
  width: 660px;
  margin: auto;
  overflow: hidden;
  zoom: 1;
}

.modal--linesync-menu .linelogin {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  height: 50px;
  background-color: transparent;
  border: none;
}

.modal--linesync-menu-contents .line_logo {
  background: #00c300 url(../../img/sys/linelogin/line.png) no-repeat;
  background-size: 40px 40px;
  border-radius: 7px 0 0 7px;
  width: 40px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.modal--linesync-menu button:focus {
  outline: none;
}

.modal--linesync-menu:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

.modal--linesync-menu .line_word {
  background: #00c300;
  border-left: solid 1px #00b300;
  border-radius: 0 7px 7px 0;
  color: #fff;
  width: 196px;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: left;
  padding: 0 10px;
}

.modal--linesync-menu .linelogin_btn_width {
  width: 280px;
}

.modal--linesync-menu {
  padding: 15px;
}

/* ----会員登録画面---- */

.block-member-info--value-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.block-member-info input[name="name"],
.block-member-info input[name="name2"],
.block-member-info input[name="kana"],
.block-member-info input[name="kana2"] {
  max-width: 200px;
}

/* ----アドレス帳の新規登録・変更画面---- */

.block-shipping-address--value-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.block-shipping-address input[name="name"],
.block-shipping-address input[name="name2"],
.block-shipping-address input[name="kana"],
.block-shipping-address input[name="kana2"] {
  max-width: 200px;
}

.block-shipping-address--regular-delete-msg {
  text-align: center;
  padding-top: 10px;
}

/* ----会員登録確認画面---- */

.block-member-info-confirmation--login-state-saving {
  margin-top: 10px;
  text-align: center;
}

.block-member-info-confirmation--login-state-saving-message {
  margin-top: 10px;
  text-align: center;
}

/* ----ログイン画面---- */
.page-login .pane-order-contents .container{
  width: 900px;
}
.page-login h1{
  display: none;
}

.page-login h2 span{
  font-size: 28px;
  font-weight: bold;
}
.page-login h2.for-first-user span{
  color: #CC3302;
  font-size: 23px;
}
.block-login--member-message {
  margin: 0 0 10px;
}

.block-login--input-items {
  margin: 20px auto;
}

.block-login--uid input,
.block-login--pwd input {
  width: 360px;
  border-radius: 4px;
  padding: 11px 4px 10px;
  border: 1px solid #D9DFE3;
  background-color: #fff;
}

.block-login--login-state-saving {
  margin-top: 17px;
  text-align: center;
}

.block-login--login-state-saving label {
  text-align: center;
}
#loginstatesaving {
  margin-bottom: 2px;
  display: none;
}

/* チェックボックスの代わりを成すラベル */
#loginstatesaving+label{
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}
/* ラベルの左に表示させる正方形のボックス□ */
#loginstatesaving+label::before{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color:  #D9DFE3; /* 枠の色変更 お好きな色を */
  background-color: #fff; /* 背景の色変更 お好きな色を */
  border-radius: 4px;
}
/* チェックが入った時のレ点 */
#loginstatesaving:checked+label::after{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 8px;
  margin-top: -7px;
  top: 50%;
  left: 4px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #fff;/* チェックの色変更 お好きな色を */
  border-radius: 2px;
}

#loginstatesaving:checked+label::before{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color:  #8BB0C7; /* 枠の色変更 お好きな色を */
  background-color: #8BB0C7; /* 背景の色変更 お好きな色を */
}

.block-login--login-state-saving-message {
  margin-top: 10px;
  text-align: center;
}

.block-login--uid .form-label,
.block-login--pwd .form-label,
.block-login--login-state-saving .form-label {
  width: 240px;
  padding: 25px 0px 25px 0px;
  text-align: center;
}

.block-login--login {
  margin-top: 10px;
  padding: 12px 0;
  font-size: 16px;
  width: 160px;
}

.block-login--ask-password {
  margin-top: 10px;
  text-align: left;
}

.block-login--entry {
  margin-top: 10px;
  padding: 12px 0;
  font-size: 16px;
  width: 160px;
}

.block-login--first-time-body {
  overflow: hidden;
  background: #fff;
  display: none;
}

.block-login--first-time hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-login--member-body {
  display: table;
  width: 100%;
  overflow: hidden;
  background: #fff;
  margin: 0 0 53px;
}

.block-login--member-frame {
  display: table-cell;
}

.block-login--social-frame {
  display: table-cell;
  padding-left: 20px;
}

.block-login--amazon-body {
  display: table-cell;
  width: 480px;
}

.block-login--amazon-login {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.block-login--guest {
  margin-top: 10px;
  padding: 12px 0;
  font-size: 16px;
  width: 240px;
}

.block-login--member-info-value-label {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.block-login--display-password {
  margin-top: 10px;
  text-align: left;
  font-size: 14px;
}

input[name="pwd_display"] {
  width: 20px;
  margin-left: 40px;
}

#pwd_display,
#pwd_display2,
#pwd_display3 {
  display: none;
}

/* チェックボックスの代わりを成すラベル */
#pwd_display+label,
#pwd_display2+label,
#pwd_display3+label{
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: 40px;
}
/* ラベルの左に表示させる正方形のボックス□ */
#pwd_display+label::before,
#pwd_display2+label::before,
#pwd_display3+label::before{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color:  #D9DFE3; /* 枠の色変更 お好きな色を */
  background-color: #fff; /* 背景の色変更 お好きな色を */
  border-radius: 4px;
}
/* チェックが入った時のレ点 */
#pwd_display:checked+label::after,
#pwd_display2:checked+label::after,
#pwd_display3:checked+label::after{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 8px;
  margin-top: -7px;
  top: 50%;
  left: 4px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #fff;/* チェックの色変更 お好きな色を */
  border-radius: 2px;
}

#pwd_display:checked+label::before,
#pwd_display2:checked+label::before,
#pwd_display3:checked+label::before{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color:  #8BB0C7; /* 枠の色変更 お好きな色を */
  background-color: #8BB0C7; /* 背景の色変更 お好きな色を */
}


/******************************/
.block-login--snslogin-body {
  width: 480px;
  padding: 15px 0;
  text-align: center;
  overflow: hidden;
  zoom: 1;
}

.block-login--snslogin-body:after {
  clear: both;
}

.block-login--snslogin-body ul {
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}

.block-login--snslogin-body ul li {
  float: left;
  width: 220px;
}

.block-login--snslogin-contents-btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  width: 280px;
  height: 50px;
  background-color: transparent;
  border: none;
}

.block-login--snslogin-contents-btn button:focus {
  outline: none;
}

.block-login--snslogin-body .sns_logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.block-login--snslogin-contents-facebook .sns_logo {
  background: #1877f2 url(../../img/sys/snslogin/facebook.png) center no-repeat;
  background-size: 24px;
  border-radius: 5px 0 0 5px;
}
.block-login--snslogin-contents-facebook .sns_word {
  background: #1877f2;
  margin-left: 0;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
}

.block-login--snslogin-contents-twitter .sns_logo {
  background: #55acee url(../../img/sys/snslogin/twitter.png) no-repeat;
  background-size: 40px 40px;
}

.block-login--snslogin-contents-gplus .sns_logo {
  background: url(../../img/sys/snslogin/gplus.png) no-repeat;
  background-size: 48px 48px;
  background-position: center;
}

.block-login--snslogin-contents-yahoo .sns_logo {
  background: #e61017 url(../../img/sys/snslogin/yahoo.png) no-repeat;
  background-size: 39px 39px;
  border: 1px solid #e61017;
  width: 41px;
  height: 40px;
}

.block-login--snslogin-contents-line .sns_logo {
  background: #00b900 url(../../img/sys/snslogin/line.png) no-repeat;
  background-size: 40px 40px;
}

.block-login--snslogin-body .sns_word {
  width: 190px;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: left;
  padding: 2px 6px;
  margin-left: 1px;
  border-left: solid 1px #ccc;
  font-size: 85%;
  color: #fff;
}

.block-login--snslogin-contents-line .sns_word {
  background: #00b900;
}

.block-login--snslogin-contents-facebook .sns_word {
  background: #1877f2;
}

.block-login--snslogin-contents-twitter .sns_word {
  background: #55acee;
}

.block-login--snslogin-contents-gplus .sns_word {
  background: #4285f4;
}

.block-login--snslogin-contents-yahoo .sns_word {
  background: #e61017;
}

.block-login--snslogin-state-saving-body {
  text-align: center;
}

.block-login--snslogin-state-saving-mesage {
  margin-top: 10px;
}
.howtouse {
  position: relative;
}
.howtouse::before{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 8px 0 8px;
  border-color: #DCE7EE transparent transparent transparent;
  position: absolute;
  top: 109px;
  left: 17px;
}
.howtouse-text{
  position: relative;
  padding-left: 66px;
  margin-bottom: 48px;
}
.howtouse-text::before{
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5286C6;
  display: block;
  position: absolute;
  left: 0;
}
.howtouse-text::after{
  content: "1";
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: block;
  position: absolute;
  top: 10px;
  left: 18px;
}
.howtouse-text.second-step::after{
  content: "2";
}
.howtouse-text span{
  font-size: 20px;
  font-weight: bold;
  color: #5286C6;
}


/* スマレジ */
.block-login--smaregi-errormsg {
  margin: 10px;
}

/******************************/
.block-login--linelogin-body {
  width: 480px;
  padding: 15px 0;
  text-align: center;
  overflow: hidden;
  zoom: 1;
}

.block-login--linelogin-body:after {
  clear: both;
}

.block-login--linelogin-body ul {
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}

.block-login--linelogin-body ul li {
  float: left;
  width: 220px;
}

.block-login--linelogin-contents-btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  width: 280px;
  height: 50px;
  background-color: transparent;
  border: none;
}

.block-login--linelogin-contents-btn button:focus {
  outline: none;
}

.block-login--linelogin-contents .line_logo {
  background: #00c300 url(../../img/sys/linelogin/line.png) no-repeat;
  background-size: 40px 40px;
  border-radius: 7px 0 0 7px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.block-login--linelogin-contents .line_word {
  background: #00c300;
  border-left: solid 1px #00b300;
  border-radius: 0 7px 7px 0;
  width: 191px;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: left;
  padding: 2px 6px;
  font-size: 85%;
  color: #fff;
}

.block-login--linelogin-state-saving-body {
  text-align: center;
}

.block-login--linelogin-state-saving-mesage {
  margin-top: 10px;
}

/* ----追加認証画面---- */

.block-additional-authentication {
  height: 510px;
}

.block-additional-authentication--body {
  padding: 20px;
  overflow: hidden;
  border: solid 1px #dcdcdc;
  background: #fff;
}

.block-additional-authentication--message-header {
  font-size: 14px;
  font-weight: bold;
}

.block-additional-authentication--input-items {
  width: 600px;
  margin: 10px auto;
}

.block-additional-authentication--authentication-key input[type="text"] {
  width: 330px;
}

.block-additional-authentication--login {
  margin-top: 10px;
  padding: 12px 0;
  font-size: 16px;
  width: 160px;
}

/* ----お気に入り画面---- */

.block-favorite--form li {
  border: 1px solid #ccc;
  border-top: none;
  padding: 20px;
}

.block-favorite--form li:first-child {
  border-top: 1px solid #ccc;
}

.block-favorite--favorite-goods {
  display: flex;
  width: 100%;
}

.block-favorite--checkbox,
.block-favorite--delete-item {
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.block-favorite--checkbox {
  flex-basis: 30px;
  padding-right: 10px;
}

.block-favorite--image {
  flex-basis: 160px;
}

.block-favorite--description {
  flex-basis: 280px;
}

.block-favorite--comment-textarea {
  width: 540px;
  height: 75px;
}

.block-favorite--comment {
  flex-basis: 580px;
  margin: 0 20px;
}

.block-favorite--delete-item {
  flex-basis: 80px;
  text-align: center;
}

.block-favorite--image figure {
  background: #f5f5f5;
  width: 142px;
  height: 142px;
}

.block-favorite--goods-name a {
  color: #000;
  text-decoration: underline;
}

.block-favorite--edit-comment a {
  text-decoration: underline;
}

.block-favorite--price-items {
  padding-top: 10px;
}

.block-favorite--price-title,
.block-favorite--price {
  display: inline-block;
}

.block-favorite--update-dt dt,
.block-favorite--update-dt dd {
  display: inline-block;
}

/* ----入荷案内申し込み商品画面---- */

.block-arrival-notice-list--form li {
  margin-bottom: 20px;
}

.block-arrival-notice-list--goods {
  display: flex;
  width: 100%;
}

.block-arrival-notice-list--image {
  flex-basis: 160px;
}

.block-arrival-notice-list--description {
  flex-grow: 1;
}

.block-arrival-notice-list--delete-item {
  flex-basis: 80px;
  text-align: center;
}

.block-arrival-notice-list--image figure {
  background: #f5f5f5;
  width: 142px;
  height: 142px;
}

.block-arrival-notice-list--goods-name a {
  color: #000;
  text-decoration: underline;
}

.block-arrival-notice-list--price-title,
.block-arrival-notice-list--price {
  display: inline-block;
}

.block-arrival-notice-list--update-dt dt,
.block-arrival-notice-list--update-dt dd {
  display: inline-block;
}

/* ----購入履歴一覧画面---- */

.block-purchase-history--table {
  margin: 5px 0;
  width: 100%;
}

.block-purchase-history--order-id a {
  text-decoration: underline;
}

.block-purchase-history--order-detail-reorder a {
  text-decoration: underline;
}

.block-purchase-history--status a:hover {
  text-decoration: none;
}

.block-purchase-history--search-frame {
  display: flex;
  margin: 10px 0;
  width: 100%;
  background-color: #f8f8f8;
}

.block-purchase-history--search-item {
  flex-grow: 1;
  padding: 10px;
}

.block-purchase-history--search-title {
  font-weight: bold;
}

/* ----購入履歴詳細画面---- */

.block-purchase-history-detail--customer-name {
  margin: 10px 0;
  display: flex;
  width: 50%;
  float: left;
}

.block-purchase-history-detail--company-name {
  margin: 10px 0;
  width: 300px;
  float: right;
  text-align: right;
}

.block-purchase-history-detail--order-info {
  margin: 10px 0;
  display: flex;
  width: 100%;
}

.block-purchase-history-detail--order-info-left {
  width: 65%;
}

.block-purchase-history-detail--order-info-right {
  width: 35%;
  padding: 0 0 0 10px;
}

.block-purchase-history-detail--order-info-table {
  width: 100%;
}

.block-purchase-history-detail--order-info-table th {
  width: 250px;
}

.block-purchase-history-detail--order-body {
  margin: 10px 0;
  display: flex;
  width: 100%;
}

.block-purchase-history-detail--order-body-left {
  width: 65%;
}

.block-purchase-history-detail--order-body-right {
  width: 35%;
  padding: 0 0 0 10px;
}

.block-purchase-history-detail--order-detail-items {
  width: 100%;
}

.block-purchase-history-detail--tax-reduced-message {
  margin: 3px 0;
}

.block-purchase-history-detail--payment-info-items {
  width: 100%;
}

.block-purchase-history-detail--point-message {
  margin: 5px 0;
}

.block-purchase-history-detail--shipping-info {
  margin: 10px 0;
  display: flex;
  width: 100%;
}

.block-purchase-history-detail--shipping-info-left {
  width: 65%;
}

.block-purchase-history-detail--shipping-info-right {
  width: 35%;
  padding: 0 0 0 10px;
}

.block-purchase-history-detail--sender-items {
  width: 100%;
}

.block-purchase-history-detail--shipping-info-items {
  width: 100%;
}

.block-purchase-history-detail--shiment-address {
  border: 1px solid #c8c8c8;
  padding: 10px;
  margin: 10px 0;
}

.block-purchase-history-detail--shipment-items {
  width: 100%;
}

.block-purchase-history-detail--csv-info-items {
  width: 100%;
  margin: 10px 0;
}

.block-purchase-history-detail--csv-info-items th {
  width: 250px;
}

.block-purchase-history-detail--invoice {
  margin: 5px 0;
  width: 100%;
}

.block-purchase-history-detail--invoice dt {
  display: inline-block;
  font-weight: bold;
}

.block-purchase-history-detail--invoice dd {
  display: inline-block;
}

.block-purchase-history-detail--track-shipment {
  margin: 5px 0;
  width: 100%;
}

.block-purchase-history-detail--track-shipment dt {
  display: inline-block;
  font-weight: bold;
}

.block-purchase-history-detail--track-shipment dd {
  display: inline-block;
}

.block-purchase-history-detail--append-items {
  width: 100%;
}

.block-purchase-history-detail--append-items th {
  width: 250px;
}

.block-purchase-history-detail .block-purchase-history-detail--add-goods {
  width: 300px;
}

.block-purchase-history-detail .block-purchase-history-detail--contact {
  width: 300px;
}

.block-purchase-history-detail .block-purchase-history-detail--cancel {
  width: 250px;
}

.block-purchase-history-detail .block-purchase-history-detail--receipt {
  width: 200px;
  margin: auto 0 auto 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.block-purchase-history-detail--child-order-id a {
  text-decoration: underline;
}

.block-purchase-history-detail--parent-order-id a {
  text-decoration: underline;
}

.block-purchase-history-detail--regular-sales-include a {
  text-decoration: underline;
}

.block-purchase-history-detail--regular-sales a {
  text-decoration: underline;
}

.block-purchase-history-detail--tax-reduced {
  margin-left: 30px;
}

.block-purchase-history-detail--total-for-tax-ratio {
  display: flex;
  margin-left: 10px;
  width: 100%;
  font-size: 80%;
}

.block-purchase-history-detail--total-for-tax-ratio-title {
  margin-right: 8px;
}

.block-purchase-history-detail--total-for-tax-ratio-list {
  text-align: right;
}

.block-purchase-history-detail--total-for-tax-ratio-list ul {
  display: flex;
}

.block-purchase-history-detail--tax-ratio {
  min-width: 50px;
  margin-right: 5px;
}

.block-purchase-history-detail--total-for-tax-ratio-amount {
  min-width: 55px;
}

.block-purchase-history-detail--receipt-address {
  border: 1px solid #c8c8c8;
  padding: 10px;
  margin: 10px 0;
}

.block-purchase-history-detail--receipt-reissuemsg {
  margin-bottom: 10px;
}

.block-purchase-history-detail--receipts {
  margin-bottom: 50px;
}

.block-purchase-history-detail--receipt-items {
  display: flex;
}

.block-purchase-history-detail--receipt-items label {
  margin-top: auto;
  margin-bottom: auto;
}

.block-purchase-history-detail--receipt-input {
  margin-left: 5px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

/* スマレジ */
.block-purchase-history-detail--smaregipoint {
  clear: both;
}

/* ----ご注文キャンセル画面---- */

.block-order-cancellation--order-info {
  margin: 10px 0;
  display: flex;
  width: 100%;
}

.block-order-cancellation--order-info-left {
  width: 65%;
}

.block-order-cancellation--order-info-right {
  width: 35%;
  padding: 0 0 0 10px;
}

.block-order-cancellation--shiment-address {
  border: 1px solid #c8c8c8;
  padding: 10px;
  margin: 10px 0;
}

.block-order-cancellation--payment-info-items {
  width: 100%;
}

.block-order-cancellation--order-items {
  width: 100%;
}

/* ----定期購入商品一覧画面---- */

.block-regular-purcharse-list--table {
  margin: 5px 0;
  width: 100%;
}

.block-regular-purcharse-list--regular-sales a {
  text-decoration: underline;
}

.block-regular-purcharse-list--list {
  background: #fff;
  margin: 0 0 15px;
  border: 1px solid #444;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.block-regular-purcharse-list--list a {
  color: #257ac6;
}

.block-regular-purcharse-list--list > dd {
  margin: 10px 0 10px 10px;
}

.block-regular-purcharse-list--info {
  width: 265px;
  flex-basis: 265px;
  flex-grow: 0;
  flex-shrink: 0;
}

.block-regular-purcharse-list--info ul > li {
  padding: 8px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 12px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.block-regular-purcharse-list--info-regular-sales > span:last-of-type {
  font-weight: bold;
}

.block-regular-purcharse-list--head-info-regular-create-dt {
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-size: 13px;
  border-radius: 2px 2px 0 0;
  width: 100%;
}

.block-regular-purcharse-list--head-info-regular-create-dt > span {
  margin-right: 30px;
}

.block-regular-purcharse-list--head-info-regular-create-dt > span:last-child {
  font-weight: bold;
  font-size: 15px;
}

.block-regular-purcharse-list--info-method {
  border-bottom: 1px solid #ddd;
}

.block-regular-purcharse-list--info li > span {
  width: 80%;
}

.block-regular-purcharse-list--info li > a,
.block-regular-purcharse-list--info li > span:last-child {
  width: 20%;
}

.block-regular-purcharse-list--info li > a {
  padding: 0;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
}

.block-regular-purcharse-list--info ul > li.block-regular-purcharse-list--info-withdrawal {
  border: none;
  display: block;
  text-align: right;
}

.block-regular-purcharse-list--detail {
  width: 295px;
  margin: 0 10px 0 0;
  border-radius: 4px;
}

.block-regular-purcharse-list--detail.detail_end > ul {
  background: #f2f2f2;
}

.block-regular-purcharse-list--detail.detail_skip > ul {
  background: #e7f5f4;
}

.block-regular-purcharse-list--detail.detail_next > ul {
  background: #ffeaea;
}

.block-regular-purcharse-list--detail > ul > li {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.block-regular-purcharse-list--detail > ul > li:last-child {
  border-bottom: 1px solid #fff;
}

.block-regular-purcharse-list--date-spec {
  position: relative;
  font-size: 15px;
  padding: 15px;
}

.block-regular-purcharse-list--date-spec dl {
  display: flex;
}

.block-regular-purcharse-list--date-spec dt {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 90px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  border-radius: 22px;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.block-regular-purcharse-list--alter-end {
  background: #858e95;
}

.block-regular-purcharse-list--skip {
  background: #50c9b2;
}

.block-regular-purcharse-list--alter {
  background: #ff6063;
}

.block-regular-purcharse-list--expected-dt {
  width: 100%;
}

.block-regular-purcharse-list--expected-dt-title {
  font-size: 11px;
}

.block-regular-purcharse-list--expected-dt-title i {
  font-size: 1.3em;
  padding-right: 5px;
}

.block-regular-purcharse-list--skip-expected-dt {
  display: inline;
  vertical-align: middle;
}

.block-regular-purcharse-list--skip-expected-dt i {
  font-size: 14px;
  padding-right: 5px;
}

.block-regular-purcharse-list--expected-dt-ymd,
.block-regular-purcharse-list--skip-expected-dt {
  font-size: 20px;
  font-weight: bold;
}

.block-regular-purcharse-list--detail-item {
  font-size: 13px;
}

.block-regular-purcharse-list--detail-item-list-list {
  padding: 8px 15px;
  border-bottom: 1px solid #fff;
}

.block-regular-purcharse-list--detail-item-list-list:last-child {
  border-bottom: 0 solid #fff;
}

.block-regular-purcharse-list--detail-item-list-list > ul {
  display: flex;
  align-items: center;
  max-width: 100%;
  min-width: 70%;
}

.block-regular-purcharse-list--detail-item-list-list > ul > li {
  font-size: 13px;
}

.block-regular-purcharse-list--detail-item ul li span {
  vertical-align: middle;
}

.block-regular-purcharse-list--detail-item-image {
  width: 50px;
  flex-shrink: 0;
}

.block-regular-purcharse-list--detail-item-goods {
  width: 100%;
}

.block-regular-purcharse-list--detail-item-goods > ul {
  display: flex;
  flex-wrap: wrap;
}

.block-regular-purcharse-list--detail-item-goods-name {
  max-width: 100%;
  margin-left: 0;
}

.block-regular-purcharse-list--detail-item-list-nolink {
  width: 100%;
  display: block;
  padding: 0;
  word-wrap: break-word;
  padding-left: 5px;
}

.block-regular-purcharse-list--detail-item-list-unit {
  display: inline-block;
  padding: 0 0 0 12px;
}

.block-regular-purcharse-list--detail-item-goods-unit-amount {
  margin: auto auto auto 0;
  flex-shrink: 0;
}

.block-regular-purcharse-list--detail-item-change {
  margin: 5px 0 auto auto;
  text-align: right;
  flex-shrink: 0;
}

a.block-regular-purcharse-list--detail-item-changelink {
  font-size: 12px;
  text-decoration: underline;
  flex-shrink: 0;
}

.block-regular-purcharse-list--sales-link {
  width: 120px;
  text-align: right;
  font-size: 12px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.block-regular-purcharse-list--sales-link a {
  text-decoration: underline;
}

.block-regular-purcharse-list--benefits {
  display: flex;
  font-size: 12px;
  padding: 10px;
  color: #ff5e60;
}

.block-regular-purcharse-list--benefits .block-regular-purcharse-list--benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.block-regular-purcharse-list--benefits-frame {
  padding-left: 6px;
}

.block-regular-purcharse-list--skip-link {
  width: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.block-regular-purcharse-list--skip-button input[type="button"] {
  display: block;
  margin: auto 0 0 auto;
  padding: 0;
  font-size: 11px;
  border: 0;
  background: #ffeaea;
  font-size: 13px;
  color: #257ac6;
  text-decoration: underline;
}

.block-regular-purcharse-list--info-add {
  text-align: right;
}

.block-regular-purcharse-list--info-add .action a.btn {
  font-size: 14px;
  color: #333;
  width: 220px;
}

/* ----定期購入商品追加----*/

.block-regular-goodsadd-info-header-msg {
  margin-bottom: 10px;
}

.block-regular-sales-add--goods {
  height: 400px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 33px;
}

.block-regular-sales-add--goods .action .btn {
  bottom: 0;
}

.block-regular-sales-add--goods-image {
  width: 200px;
  height: 200px;
}

.block-regular-sales-add--goods-image figure {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.block-regular-sales-add--goods-description {
  position: relative;
  margin-left: auto;
  width: 200px;
}

.block-regular-sales-add--goods-name {
  margin-top: 20px;
}
.block-regular-sales-add-price {
  font-weight: bold;
  text-align: right;
}

.block-regular-sales-add-regular-repeat-price {
  font-weight: bold;
  text-align: right;
}

.block-regular-sales-add--qty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.block-regular-sales-add--qty-title {
  margin-right: 8px;
}

.block-regular-sales-add--qty input {
  width: 100px;
}

.block-regular-sales-add--action {
  width: 100%;
  margin-left: 0;
}

.block-regular-sales-add--action .btn {
  width: 100%;
}

/* ----定期購入商品追加 モーダル----*/

.modal-body .block-regular-sales-add--goods {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-body .block-regular-sales-add--goods-info {
  width: auto;
  margin: 8px;
}

.modal-body .block-regular-sales-add--goods-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.modal-body .block-regular-sales-add--price {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.modal-body .block-regular-sales-add--regular-repeat-price {
  font-weight: bold;
  font-size: 12px;
}

.modal-body .block-regular-sales-add--qty {
  margin-top: 8px;
  width: auto;
  justify-content: flex-start;
  align-items: center;
}

.modal-body .block-regular-sales-add--qty > div {
  font-weight: bold;
  font-size: 16px;
}

.modal-body .block-regular-sales-add--action {
  width: 100%;
}

.modal-body .block-regular-sales-add-sales-detail-append--item > .form-group > .form-label {
  margin-right: 0;
}

.modal-body .block-regular-sales-add-sales-detail-append--item input[type="text"],
.modal-body .block-regular-sales-add-sales-detail-append--item textarea {
  width: 100%;
}

.modal-body .block-regular-sales-add-sales-detail-append--item textarea {
  resize: none;
}

.modal-body .block-regular-sales-add-sales-detail-append--item .constraint .required {
  margin: -38px 20px 16px 0;
  display: block;
  text-align: right;
}

/* ----定期購入商品詳細画面---- */

.block-regular-purcharse-detail--body {
  margin: 10px 0;
  width: 100%;
}

.block-regular-purcharse-detail--regular-sales-items {
  width: 100%;
}

.block-regular-purcharse-detail--regular-sales-items th {
  width: 250px;
}

.block-regular-purcharse-detail--shipment-address {
  border: 1px solid #c8c8c8;
  padding: 10px;
  margin: 10px 0;
}

.block-regular-purcharse-detail--update-address {
  margin: 10px 0;
  text-align: right;
}

.block-regular-purcharse-detail--goods-items {
  width: 100%;
}

.block-regular-purcharse-detail--append-items {
  width: 100%;
}

.block-regular-purcharse-detail--append-items th {
  width: 250px;
}

.block-regular-purcharse-detail--include-items {
  width: 100%;
}

.block-regular-purcharse-detail--include-items th {
  width: 250px;
}

.block-regular-purcharse-detail--action-message {
  margin-top: 10px;
}

.block-regular-purcharse-list--order-id a {
  text-decoration: underline;
}

/* ----定期購入商品配送先変更画面---- */

.block-regular-purcharse-shipment-info-update--new-address,
.block-regular-purcharse-shipment-info-update--old-address {
  border: 1px solid #c8c8c8;
  padding: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.block-regular-purcharse-shipment-info-update--new-address address {
  float: left;
}

.block-regular-purcharse-shipment-info-update--cust-edit,
.block-regular-purcharse-shipment-info-update--dest-edit,
.block-regular-purcharse-shipment-info-dest-add {
  text-align: right;
}

/* ----定期購入商品配送先変更画面(AmazonPay)---- */

.block-regular-purcharse-shipment-info--amazonpay-body {
  width: 480px;
  margin: 0 auto;
}

.block-regular-purcharse-shipment-info--amazonpay-message {
  text-align: left;
}

.block-regular-purcharse-shipment-info--amazonpay-login {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.block-regular-purcharse-shipment-info--amazonpay-error {
  text-align: left;
  color: #a94442;
}

.block-regular-purcharse-shipment-info--amazonpay-widget-body {
  margin: 0 auto;
}

.block-regular-purcharse-shipment-info--amazonpay-address-widget {
  float: left;
}

.block-regular-purcharse-shipment-info--amazonpay-wallet-widget {
}

.block-regular-purcharse-shipment-info--amazonpay-widget-error {
  text-align: left;
  color: #a94442;
  margin-left: 5px;
}

/* ----定期購入商品サイクル情報変更画面---- */

.block-regular-purcharse-cycle-info-update h3 {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin: 0 0 12px 0;
}

.block-regular-purcharse-cycle-info-update--body {
  margin: 10px 0;
  width: 100%;
}

.block-regular-purcharse-cycle-info-update--regular-sales-items {
  width: 100%;
}

.block-regular-purcharse-cycle-info-update--regular-sales-items th {
  width: 250px;
}

.block-regular-purcharse-cycle-info-update--shipment-address {
  border: 1px solid #c8c8c8;
  padding: 10px;
  margin: 10px 0;
}

.block-regular-purcharse-cycle-info-update--goods-items {
  width: 100%;
}

.block-regular-cycle--select-timespec-title {
  font-weight: bold;
  margin-right: 5px;
}

.block-regular-purcharse-cycle-info-update--skip-cancel-message {
  font-size: 10px;
}

/* ----定期購入商品解約画面---- */

.block-regular-purcharse-cancellation--goods-items {
  margin: 10px 0;
  width: 100%;
}

.block-regular-purcharse-cancellation--message {
  text-align: center;
  padding-top: 10px;
}

.block-regular-purcharse-cancellation--cancel-reason-items {
  width: 600px;
  margin: 0 auto;
}

.block-regular-purcharse-cancellation--cancel-reason-items label::after {
  content: "\A" ;
  white-space: pre ;
}

.block-regular-purcharse-cancellation--cancel-reason-other-comment {
  padding-top: 10px;
  display: none;
}

/* ----定期購入商品変更画面---- */

.block-goodschange-list .block-regular-goodschange-info-header-msg {
  margin-bottom: 10px;
}

.block-goodschange-list .block-goodschange-list-item-buttons-selected {
  cursor: default;
  background: #fffcfc;
  border: 1px solid #f00;
  color: #f00;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 8px;
  font-size: 16px;
  min-width: 160px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* ----定期購入支払い方法変更画面---- */

.block-regular-purcharse-method-info-update--body {
  margin: 10px 0;
  width: 100%;
}

.block-regular-purcharse-method-info-update--regular-sales-items .block-regular-purcharse-method--info-cardedit a {
  text-decoration: underline;
}

/* ----カード情報確認画面---- */

.block-credit-card-confirmation--credit-card-info-table {
  width: 100%;
}

.block-credit-card-confirmation--credit-card-info-table th {
  width: 250px;
}

/* ----お問い合わせ画面---- */

.block-inquiry--inquiry-body .form-label,
.block-inquiry--inquiry-body .constraint {
  vertical-align: top;
  padding-top: 8px;
}

/* ----お問い合わせ履歴一覧画面---- */

.block-inquiry-history--body li {
  margin: 5px 0;
  padding: 10px 0;
  border-bottom: 1px solid #c8c8c8;
}

.block-inquiry-history--body li span {
  margin: 0 10px 0 0;
}

/* ----お問い合わせ履歴詳細画面---- */

.block-inquiry-history-detail--form {
  margin: 20px 0;
}

.block-inquiry-history-detail--message {
  text-align: center;
}

.block-inquiry-history-detail--inquiry-body {
  margin: 20px 0;
}

.block-inquiry-history-detail--inquiry-body textarea {
  width: 100%;
}

.block-inquiry-history-detail--item dt {
  width: 100%;
  display: flex;
}

.block-inquiry-history-detail--contact-name {
  width: 80%;
}

.block-inquiry-history-detail--update-dt {
  width: 20%;
  text-align: right;
  font-weight: normal;
}

.block-inquiry-history-detail--message-confirm {
  text-align: center;
}

.block-inquiry-history-detail--inquiry-body-confirm {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #c8c8c8;
}

/* ----ポイント履歴一覧画面---- */

.block-point-history-list--point {
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;
}

.block-point-history-list--message {
  margin: 5px 0;
}

.block-point-history-list--items {
  margin: 5px 0;
  width: 100%;
}

/* ----所持クーポン一覧画面---- */

.block-coupon-list--table {
  margin: 5px 0;
  width: 100%;
}

.block-coupon-list--coupon-dt {
  white-space: nowrap;
  width: 300px;
}

/* ----店舗クーポン一覧画面---- */

.block-store-coupon-list--table {
  margin: 5px 0;
  width: 100%;
}

.block-store-coupon-list--coupon-dt {
  white-space: nowrap;
  width: 300px;
}

/* ----ログアウト画面---- */

.block-logout--message a {
  text-decoration: underline;
}

/* ----会員登録確認(クイックエントリー)---- */

.block-quick-info-confirmation--login-state-saving {
  margin-top: 10px;
  text-align: center;
}

.block-quick-info-confirmation--login-state-saving-message {
  margin-top: 10px;
  text-align: center;
}

/* ----パスワード再設定---- */

.block-reset-password--tel {
  border-bottom: 1px solid #e5e5e5;
}

/* ----制限付きログイン画面---- */

.block-login-parts--body a {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ----会員登録完了画面---- */
.block-member-registration-completed--smaregipoint {
  margin: 10px;
}

/* ----会員登録完了画面(クイックエントリー)---- */
.block-quick-member-registration-completed--smaregipoint {
  margin: 10px;
}

/* ----領収書印刷画面---- */
@media screen, print {
  .block-receipt--ContentsAll {
    width: 640px;
    clear: both;
    font-family: YuGothic,"Yu Gothic",sans-serif;
    font-size: 12pt;
    margin: 0 auto;
  }
  .block-receipt--printBox {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media print {
  .block-receipt--printBox {
    display: none;
  }
}

.block-receipt--main {
  break-after: page;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.block-receipt--main:last-child {
  break-after: auto;
}

.block-receipt--header {
  text-align: center;
}

.block-receipt--header-title {
  display: inline-block;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
}

.block-receipt--header-pagenum {
  text-align: right;
  float: right;
}

.block-receipt--top {
  display: flex;
  justify-content: space-between;
}

.block-receipt--top-left {
  width: 340px;
  text-align: left;
}

.block-receipt--top-left-address {
  font-size: 18pt;
  font-weight: bold;
  padding: 0 0 10px;
}

.block-receipt--top-left-total {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0 0 0;
}

.block-receipt--top-left-total-title {
  text-align: left;
  font-weight: bold;
}

.block-receipt--top-left-total-price {
  text-align: right;
  font-size: 18pt;
  font-weight: bold;
}

.block-receipt--top-left-proviso {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px 0 0 0;
}

.block-receipt--top-left-middle {
  padding: 10px 0 0 0;
}

.block-receipt--top-right {
  width: 340px;
  font-size: 10pt;
  text-align: right;
}

.block-receipt--top-right-items {
  line-height: 50%;
}

.block-receipt--tax-info p {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: bold;
  margin: 10px 0;
}

.block-receipt--tax-info-items {
  width: auto;
  display: flex;
  font-size: 10pt;
  margin: 0 0 10px 10px;
}

.block-receipt--tax-info-items-ratio {
  width: 120px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.block-receipt--tax-info-items-amount-title {
  width: 120px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.block-receipt--tax-info-items-amount-price {
  width: 120px;
  text-align: right;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.block-receipt--tax-info-items-consumption-title {
  width: 80px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-left: 50px;
}

.block-receipt--tax-info-items-consumption-price {
  width: 80px;
  text-align: right;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}


.block-receipt--payment > p {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: bold;
  margin-bottom: 10px;
}

.block-receipt--payment-items-method {
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
  margin: 0 10px 0;
}

.block-receipt--payment-items-method-method {
  width: 240px;
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  align-items: flex-end;
}

.block-receipt--payment-items-method-income {
  width: 240px;
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  align-items: flex-end;
}

.block-receipt--payment-items-price {
  margin: 0 10px 0;
}

.block-receipt--payment-items-price > p {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 10px 0;
}

.block-receipt--payment-items-price-items {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0;
}

.block-receipt--payment-items-price-items-detail {
  width: 280px;
}

.block-receipt--payment-items-price-items-detail-list {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 10pt;
  margin: 0 10px 0;
}

.block-receipt--payment-items-price-items-detail-list {
  margin-bottom: 10px;
}

.block-receipt--goods-title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 10px 0 0;
  font-weight: bold;
}

.block-receipt--goods-detail {
  margin: 0 0 0 10px;
}

.block-receipt--goods-detail-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 600px;
}

.block-receipt--goods-detail-table th {
  vertical-align: middle;
}

.block-receipt--goods-detail-table th,
.block-receipt--goods-detail-table td {
  font-weight: normal;
  font-size: 10pt;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 5px 5px 0;
}

.block-receipt--goods-detail-table th {
  text-align: center;
}

.block-receipt--goods-detail-table-td-text {
  text-align: left;
}

.block-receipt--goods-detail-table-td-num {
  text-align: right;
}

.block-receipt--goods-detail-table-td-mark {
  text-align: center;
}


.block-receipt--goods-detail-table th:nth-child(1),
.block-receipt--goods-detail-table td:nth-child(1) {
  width: 17.5%;
}

.block-receipt--goods-detail-table th:nth-child(2),
.block-receipt--goods-detail-table td:nth-child(2) {
  width: 42.5%;
}

.block-receipt--goods-detail-table th:nth-child(3),
.block-receipt--goods-detail-table td:nth-child(3) {
  width: 2.5%;
}

.block-receipt--goods-detail-table th:nth-child(4),
.block-receipt--goods-detail-table td:nth-child(4) {
  width: 15%;
}

.block-receipt--goods-detail-table th:nth-child(5),
.block-receipt--goods-detail-table td:nth-child(5) {
  width: 7.5%;
}

.block-receipt--goods-detail-table th:nth-child(6),
.block-receipt--goods-detail-table td:nth-child(6) {
  width: 15%;
}

.block-receipt--goods-detail-comment {
  font-size: 10pt;
  margin: 0 0 10px;
}

.block-receipt--bottom {
  font-size: 10pt;
}
