@charset "UTF-8";

/* ----商品詳細画面---- */

.block-goods-detail--promotion-freespace {
  margin-bottom: 10px;
}

.block-src-l figure {
  text-align: center;
}

.block-goods-affix-list {
  margin-bottom: 10px;
}

.block-goods-affix-list dt {
  padding: 5px 0;
  border-bottom: 1px dotted #ccc;
}

.block-goods-affix-list dd {
  padding: 5px 0 0 15px;
}

.block-add-cart--btn {
  margin-top: 10px;
  padding: 12px 0;
  font-size: 18px;
  width: 280px;
  border-radius: 3px;
}

.block-custom-order--btn {
  margin-top: 10px;
  padding: 12px 0;
  font-size: 18px;
  width: 280px;
}

.block-goods-store-stock--btn {
  margin-top: 10px;
  padding: 6px 0;
  font-size: 16px;
  width: 280px;
}

.block-arrival-notice--btn {
  margin-top: 10px;
  padding: 6px 0;
  font-size: 16px;
  width: 280px;
}

.block-contact-about-goods--btn {
  margin-top: 10px;
  padding: 6px 0;
  font-size: 16px;
  width: 280px;
}

.block-goods-favorite--btn {
  margin-top: 10px;
  padding: 6px 0;
  font-size: 16px;
  width: 280px;
}

.block-goods-favorite-registed--btn {
  margin-top: 10px;
  padding: 6px 0;
  font-size: 16px;
  width: 280px;
  color: #fff;
  background-color: #808080;
}

.block-variation-add-cart {
  margin-right: 5px;
}

.block-variation-add-cart--btn {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  width: 165px;
  height: 54px;
}

.block-variation-favorite--btn {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  width: 54px;
  height: 54px;
}

.block-variation-favorite-registed--btn {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  width: 54px;
  height: 54px;
  color: #f9f;
}

.bookmarkmodal-option {
  margin: 5px;
}

.bookmarkmodal-option .btn {
  width: 310px;
}

.block-no-stock--message {
  text-align: center;
  margin-top: 10px;
  padding: 6px 0;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}

.block-outside-sales-period--message {
  text-align: center;
  margin-top: 10px;
  padding: 6px 0;
  font-size: 16px;
  width: 280px;
  border: 1px solid #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}

.block-is-custoemer-expected-pause--message {
  text-align: center;
  margin-top: 10px;
  padding: 6px 0;
  font-size: 16px;
  width: 280px;
  border: 1px solid #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}

.block-variation-no-stock,
.block-variation-outside-sales-period,
.block-goods-variation-arrival-notice {
  margin-right: 5px;
}

.block-variation-no-stock--message,
.block-variation-outside-sales-period--message,
.block-goods-variation-arrival-notice--btn {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 165px;
  height: 54px;
}

.block-variation-no-stock--message,
.block-variation-outside-sales-period--message {
  border: 1px solid #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}

.block-goods-gallery ul {
  font-size: 0;
}

.block-goods-gallery li {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.block-goods-gallery li figure {
  width: 100px;
  height: 100px;
}

.block-goods-price {
  margin: 10px 0;
}

.block-goods-price--price {
  font-size: 24px;
  font-weight: bold;
}

.block-goods-price--on-sales-comment {
  color: #c30;
}

.block-accessory-list {
  width: 100%;
}

.pane-goods-right-side .block-check-list-a--item-body {
  width: auto;
}

.block-goods-footer-cart {
  text-align: center;
}

/* 同一バリエーション画像表示 */
.block-goods-detail .block-goods-detail--color-variation-goods-image .bx-viewport {
  max-height: 606px;
}

.block-goods-detail .block-goods-detail--color-variation-goods-thumbnail-images .bx-wrapper {
  position: relative;
}

.block-goods-detail .block-goods-detail--color-variation-goods-thumbnail-images .bx-controls-direction .bx-prev {
  left: 10px;
  background: url(../../img/usr/btn_slider_prev.png) no-repeat center;
  position: absolute;
  top: 40%;
  left: -5%;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 40px;
}

.block-goods-detail .block-goods-detail--color-variation-goods-thumbnail-images .bx-controls-direction .bx-next {
  background: url(../../img/usr/btn_slider_next.png) 0 0 no-repeat;
  position: absolute;
  top: 40%;
  right: -5%;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 40px;
}

.block-goods-detail .block-goods-detail--color-variation-goods-thumbnail-images .bx-controls-direction a.disabled {
  opacity: 0.3;
  cursor: default;
}

.block-goods-detail .block-goods-detail--color-variation-goods-thumbnail-images .block-goods-detail--color-variation-goods-color-name {
  font-size: 14px !important;
  text-align: center;
}

.block-goods-detail .block-goods-detail--color-variation-goods-image .bx-viewport .block-goods-detail-line-item figure {
  text-align: center;
}

.block-goods-detail .block-goods-detail--color-variation-goods-image .block-goods-detail-line-item {
  z-index: 3 !important;
}

.block-goods-gallery--color-variation-src {
  vertical-align: top;
}

/* 注文明細拡張 */

.block-goods-sales-detail-append--item .form-label {
  padding: 10px;
  margin-right: 10px;
}

.block-goods-sales-detail-append--item input[type="text"],
.block-goods-sales-detail-append--item textarea {
  width: 100%;
}

.block-goods-sales-detail-append--item .constraint .required {
  margin: -38px 20px 16px 0;
  display: block;
  text-align: right;
}

/* バリエーション入荷案内申し込み */
.block-variation-back-order {
  margin-top: 10px;
}

.block-variation-arrival-notice {
  margin-right: 5px;
}

.block-variation-arrival-notice--btn {
  margin-top: 10px;
  padding: 6px 0;
  font-size: 16px;
  width: 280px;
}

/* バリエーション切り替えボタン */
.block-variation--item-list {
  font-size: 0;
}

.block-variation--item {
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
}

.block-variation--item-description {
  display: none;
}

.block-variation--item dt {
  display: block;
  border: 2px solid #d0d0d0;
  background-color: #fff;
  cursor: pointer;
}

.block-variation--item.color-disable-stock dt {
  border: 2px dashed #d0d0d0;
  background-color: #eee;
}

.block-variation--item.size-disable-stock dt {
  border: 2px dashed #d0d0d0;
  background-color: #eee;
}

.block-variation--item.active dt {
  border: 2px solid #3fbf0d;
}

.block-color--item dt {
  width: 54;
  height: 54px;
}

.block-color--item-term img {
  max-width: 40px;
  max-height: 40px;
}

.block-color--item-term figure {
  width: 50px;
  height: 50px;
}

.block-size--item dt {
  width: 54px;
  min-height: 54px;
}

.block-size--item-term {
  min-width: 54px;
  min-height: 54px;
}

.block-size--item-term span {
  display: table-cell;
  word-break: break-all;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  padding: 2px;
}

/* サイズ別カートボタン */
.block-size-with-cart--item {
  padding: 5px 0;
  width: 100%;
  display: flex;
}

.block-size-with-cart--item-term {
  border: 2px solid #d0d0d0;
  background-color: #fff;
  width: 54px;
  height: 54px;
  margin-right: 5px;
}

.block-size-with-cart--item-term span {
  display: table-cell;
  word-break: break-all;
  text-align: center;
  vertical-align: middle;
  width: 96px;
  height: 50px;
  padding: 2px;
}

/* カラー別カートボタン */
.block-color-with-cart--item {
  padding: 5px 0;
  width: 100%;
  display: flex;
}

.block-color-with-cart--item-term {
  border: 2px solid #d0d0d0;
  background-color: #fff;
  width: 54px;
  height: 54px;
  margin-right: 5px;
}

.block-color-with-cart--item-term figure {
  width: 50px;
  height: 50px;
}

.block-color-with-cart--item-term img {
  max-width: 40px;
  max-height: 40px;
}

/* カラーサイズ別カートボタン */
.block-color-size-with-cart--nocolor {
  width: 54px;
  height: 54px;
  margin-right: 5px;
}

.block-color-size-with-cart--color-line {
  padding: 5px 0;
  width: 100%;
  display: flex;
}

.block-color-size-with-cart--size-line {
  padding: 5px 0;
  width: 100%;
  display: flex;
}

.block-color-size-with-cart--size-item-term {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #d0d0d0;
  background-color: #fff;
  width: 54px;
  height: 54px;
  margin-right: 5px;
}

.block-color-size-with-cart--size-item-term span {
  display: table-cell;
  word-break: break-all;
  text-align: center;
  vertical-align: middle;
  width: 96px;
  height: 50px;
  padding: 2px;
}

.block-color-size-with-cart--color-item-term {
  border: 2px solid #d0d0d0;
  background-color: #fff;
  width: 54px;
  height: 54px;
  margin-right: 5px;
}

.block-color-size-with-cart--color-item-term figure {
  width: 50px;
  height: 50px;
}

.block-color-size-with-cart--color-item-term img {
  max-width: 40px;
  max-height: 40px;
}

/* 商品詳細ユーザーレビュー */
.block-goods-user-review h2 {
  background-color: #f5f5f5;
  font-size: 22px;
  padding: 10px 15px;
}

.block-goods-user-review--score dt {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}

.block-goods-user-review--score dd {
  display: inline-block;
  vertical-align: top;
  height: 21px;
}

.block-goods-user-review--score dd img {
  height: 21px;
}

.block-goods-user-review--count dt {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}

.block-goods-user-review--count dd {
  display: inline-block;
}

.block-goods-user-review--need-login-message a {
  text-decoration: underline;
}

.block-goods-user-review--write-review-link {
  text-decoration: underline;
}

.block-goods-user-review--description {
  margin: 10px 0;
}

.block-goods-user-review--item {
  margin-top: 15px;
}

.block-goods-user-review--item-title {
  font-weight: bold;
  font-size: 16px;
}

.block-goods-user-review--item-score dt {
  margin: 0 0 5px 0;
  height: 14px;
}

.block-goods-user-review--item-score dt img {
  height: 14px;
}

.block-goods-user-review--item-size dt,
.block-goods-user-review--item-color dt,
.block-goods-user-review--item-name dt,
.block-goods-user-review--item-size dd,
.block-goods-user-review--item-color dd,
.block-goods-user-review--item-name dd,
.block-goods-user-review--item-moderate-underestimate dt,
.block-goods-user-review--item-moderate-underestimate dd,
.block-goods-user-review--item-moderate-overestimate dt,
.block-goods-user-review--item-moderate-overestimate dd {
  display: inline-block;
}

.block-goods-user-review--item-moderate-link,
.block-goods-user-review--item-moderate-other-link {
  text-decoration: underline;
}

.block-goods-user-review--pagenav {
  background: #f0f0f0 none repeat scroll 0 0;
  clear: both;
  margin: 0 0 10px;
  padding: 5px;
}

.block-goods-user-review--pager-now {
  color: #c00;
}

.block-goods-user-review--item-comment {
  margin: 5px 0;
}

.block-goods-user-review--write-review-btn {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  padding: 6px 0;
  width: 160px;
}

.block-goods-price--regular-repeat-initial-price-name {
  font-size: 20px;
  font-weight: bold;
  color: #444;
}

.block-goods-price--regular-repeat-price-name {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  margin-top: 10px;
}

.block-goods-price--items {
  display: table;
}

.block-goods-price--item {
  display: table-cell;
  padding-right: 20px;
}

.block-goods-price--regular-repeat-price {
  font-weight: bold;
  color: #333;
}

.block-goods-price--regular-repeat-net {
  color: #555;
}

.block-goods-price--regular-repeat-default-price {
  text-decoration: line-through;
  color: #333;
  font-weight: bold;
}

/* ----ユーザーレビュー画面---- */

.block-user-review--score .form-label,
.block-user-review--score .constraint {
  vertical-align: top;
  padding-top: 8px;
}

.block-user-review--review-body .form-label,
.block-user-review--review-body .constraint {
  vertical-align: top;
  padding-top: 8px;
}

.block-user-review--score .form-control,
.block-user-review--review-body .form-control {
  padding-top: 10px;
}

.block-user-review--evaluation-score img {
  height: 21px;
}

.block-user-review--evaluator-name dt,
.block-user-review--evaluator-name dd {
  display: inline-block;
}

.block-user-review--review-comment {
  margin: 10px 0;
}
.block-user-review--footer h3 {
  padding: 40px 0 10px;
}

/* ----トップページイベント表示---- */
.block-top-event--header {
  font-size: 28px;
  font-weight: bold;
  border-top: #5286C6 2px solid;
  padding: 19px 0 30px;
  padding: 35px 0 41px;
  margin: 0;
}

/* ----店舗在庫画面---- */

.block-store-stock--goods-detail dt {
  float: left;
  font-weight: bold;
  width: 100px;
  padding: 3px;
}

.block-store-stock--goods-detail dd {
  margin-left: 120px;
  padding: 3px;
}

.block-store-stock--message {
  color: #a94442;
  margin: 10px 0;
}

.block-store-stock--list li {
  display: inline-block;
  margin: 0 10px 0 0;
}

/* ----アイコン---- */
.block-icon img {
  height: 16px;
}

/* ----商品一覧画面----*/

/* 表示方法・並べ替え・ページャ */
.block-goods-list--display-style-items {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.block-goods-list--display-style-items .active {
  color: #c00;
}

.block-goods-list--display-style-items dt {
  display: inline-block;
  font-weight: bold;
}

.block-goods-list--display-style-items dd {
  display: inline-block;
  margin-right: 5px;
}

.block-goods-list--sort-order-items {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.block-goods-list--sort-order-items .active {
  color: #c00;
}

.block-goods-list--sort-order-items dt {
  display: inline-block;
  font-weight: bold;
}

.block-goods-list--sort-order-items dd {
  display: inline-block;
  margin-right: 5px;
}

/* ----商品一覧画面：一覧：block-goods-list-l---- */

.block-goods-list-l--table {
  width: 100%;
}

.block-goods-list-l--table,
.block-goods-list-l--table td,
.block-goods-list-l--table th {
  border-collapse: collapse;
}

.block-goods-list-l--table td,
.block-goods-list-l--table th {
  padding: 10px;
}

.block-goods-list-l--table th {
  font-weight: bold;
  white-space: nowrap;
}

.block-goods-list-l--table,
.block-goods-list-l--table td,
.block-goods-list-l--table th {
  border: 1px solid #444;
}

.block-goods-list-l--add-cart {
  text-align: center;
}

.block-goods-list-l--stock {
  text-align: center;
}

.block-goods-list-l--goods-name a {
  color: #000;
  text-decoration: underline;
}

.block-goods-list-l--add-cart .block-list-add-cart-btn {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  width: 220px;
}

.block-goods-list-l--add-cart .block-list-custom-order-btn {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  width: 220px;
  margin-bottom: 5px;
}

.block-goods-list-l .price {
  font-weight: bold;
}

.block-goods-list-l .price,
.block-goods-list-l .net-price,
.block-goods-list-l .default-price,
.block-goods-list-l .exchange-price,
.block-goods-list-l .block-exchange-price--rate-dt {
  text-align: right;
}

.block-goods-list-l .net-price,
.block-goods-list-l .default-price,
.block-goods-list-l .exchange-price,
.block-goods-list-l .block-exchange-price--rate-dt {
  font-size: 12px;
}

.block-goods-list-l--scomment {
  font-size: 12px;
  color: #cc3302;
}

/* ----商品一覧画面：一括購入：block-goods-list-l---- */

.block-bulk-purchase-b--table {
  width: 100%;
}

.block-bulk-purchase-b--table,
.block-bulk-purchase-b--table td,
.block-bulk-purchase-b--table th {
  border-collapse: collapse;
}

.block-bulk-purchase-b--table td,
.block-bulk-purchase-b--table th {
  padding: 10px;
}

.block-bulk-purchase-b--table th {
  font-weight: bold;
  white-space: nowrap;
}

.block-bulk-purchase-b--table,
.block-bulk-purchase-b--table td,
.block-bulk-purchase-b--table th {
  border: 1px solid #444;
}

.block-bulk-purchase-b--stock {
  text-align: center;
}

.block-bulk-purchase-b--goods-name a {
  color: #000;
  text-decoration: underline;
}

.block-bulk-purchase-b--add-cart {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.block-bulk-purchase-b--add-cart .block-list-add-cart-btn {
  display: inline-block;
  padding: 12px 0;
  font-size: 16px;
  width: 220px;
}

.block-bulk-purchase-b .price {
  font-weight: bold;
}

.block-bulk-purchase-b .price,
.block-bulk-purchase-b .net-price,
.block-bulk-purchase-b .default-price,
.block-bulk-purchase-b .exchange-price,
.block-bulk-purchase-b .block-exchange-price--rate-dt {
  text-align: right;
}

.block-bulk-purchase-b .net-price,
.block-bulk-purchase-b .default-price,
.block-bulk-purchase-b .exchange-price,
.block-bulk-purchase-b .block-exchange-price--rate-dt {
  font-size: 12px;
}

.block-bulk-purchase-b--scomment {
  font-size: 12px;
  color: #cc3302;
}

/* ----商品一覧画面：詳細一覧：block-goods-list-d---- */

.block-goods-list-d li {
  margin-bottom: 20px;
}

.block-goods-list-d--image {
  width: 200px;
}

.block-goods-list-d--item-body {
  display: flex;
  width: 900px;
}

.block-goods-list-d--image figure {
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

.block-goods-list-d--item-description {
  width: 700px;
  padding-left: 20px;
  padding-right: 20px;
}

.block-goods-list-d--goods-name a {
  color: #000;
  text-decoration: underline;
}

.block-goods-list-d--item-details {
  display: flex;
  margin-top: 10px;
}

.block-goods-list-d--item-details-left {
  flex-basis: 360px;
}

.block-goods-list-d--add-cart {
  flex-basis: 300px;
  text-align: center;
}

.block-goods-list-d--add-cart .block-list-add-cart-btn {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  width: 220px;
  margin: 0 auto;
}

.block-goods-list-d--add-cart .block-list-custom-order-btn {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.block-goods-list-d--price-infos {
  width: 330px;
  text-align: right;
}

.block-goods-list-d--price-title {
  display: inline-block;
}

.block-goods-list-d--price {
  display: inline-block;
}

.block-goods-list-d--stock-items {
  width: 330px;
  text-align: right;
}

.block-goods-list-d--stock-title {
  display: inline-block;
}

.block-goods-list-d--stock {
  display: inline-block;
}

.block-goods-list-d .price {
  font-weight: bold;
}

.block-goods-list-d .price,
.block-goods-list-d .net-price,
.block-goods-list-d .default-price,
.block-goods-list-d .exchange-price,
.block-goods-list-d .block-exchange-price--rate-dt {
  text-align: right;
}

.block-goods-list-d--scomment {
  color: #cc3302;
}

.block-goods-list-d--goods-comment {
  margin-top: 10px;
}

/* ----商品一覧画面：チェックリスト：block-check-list-a---- */

.block-check-list-a li {
  width: 100%;
  margin: 0 0 20px 20px;
}

.block-check-list-a--price-infos,
.block-check-list-a--stock-items,
.block-check-list-a--select-item {
  text-align: right;
  margin: 5px 0;
}

.block-check-list-a--select-item .radio {
  margin-right: 0;
}

.block-check-list-a--image {
  width: 142px;
}

.block-check-list-a--items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.block-check-list-a--item-body {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;
}

.block-check-list-a--items li:last-child .block-check-list-a--item-body {
  border-bottom: none;
}

.block-check-list-a--image figure {
  background: #f5f5f5;
  width: 142px;
  height: 142px;
}

.block-check-list-a--item-description {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.block-check-list-a--goods-name {
  margin-bottom: 10px;
}
.block-check-list-a--goods-name a {
  color: #000;
  text-decoration: underline;
}

.block-check-list-a--price-title {
  display: inline-block;
}

.block-check-list-a--price {
  display: inline-block;
}

.block-check-list-a--stock-title {
  display: inline-block;
}

.block-check-list-a--stock {
  display: inline-block;
}

.block-check-list-a .price {
  font-weight: bold;
}

.block-check-list-a .price,
.block-check-list-a .net-price,
.block-check-list-a .default-price,
.block-check-list-a .exchange-price,
.block-check-list-a .block-exchange-price--rate-dt {
  text-align: left;
}

.block-check-list-a--scomment {
  color: #cc3302;
}

.block-check-list-a--goods-comment {
  margin-top: 10px;
}

.block-check-list-a--add-cart {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.block-check-list-a--add-cart .block-list-add-cart-btn {
  display: inline-block;
  padding: 12px 0;
  font-size: 16px;
  width: 220px;
}

.block-order-complete .block-check-list-a .block-check-list-a--comment,
.page-bookmark .block-check-list-a .block-check-list-a--comment {
  padding: 0 0 5px;
}

.block-order-complete .block-check-list-a .block-check-list-a--stock-items
.page-bookmark .block-check-list-a .block-check-list-a--stock-items {
  padding: 5px 0;
}

/* ----商品一覧画面：ピックアップ：block-pickup-list-p---- */
.block-pickup-list-p--items {
  display: flex;
  flex-wrap: wrap;
}
.block-pickup-list-p li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.block-pickup-list-p li:not(:nth-of-type(4n)){
  margin-right: 33px;
}

.block-pickup-list-p--item-body {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.block-pickup-list-p--image {
  width: 200px;
  margin-bottom: 16px;
}

.block-pickup-list-p--image figure {
  background: #ECF0F2;
  width: 200px;
  height: 200px;
}

.block-pickup-list-p--item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}
.block-pickup-list-p--add-cart {
  margin-top: auto;
}
.block-pickup-list-p--comment {
  padding: 10px 0;
  display: none;
}

.block-pickup-list-p--goods-name a {
  color: #444;
  text-decoration: underline;
}

.block-pickup-list-p--add-cart .block-list-add-cart-btn {
  display: block;
  padding: 13px 0 12px;
  width: 160px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
  line-height: 1;
  margin: 8px auto 0;
  text-decoration: none;
}

.block-pickup-list-p--add-cart .block-list-custom-order-btn {
  display: block;
  padding: 8px 0;
  width: 160px;
  margin-bottom: 5px;
}

.block-pickup-list-p .price {
  font-weight: bold;
  color: #CC3302;
}

.block-pickup-list-p .price,
.block-pickup-list-p .net-price,
.block-pickup-list-p .default-price,
.block-pickup-list-p .exchange-price,
.block-pickup-list-p .block-exchange-price--rate-dt {
  text-align: right;
}

.block-pickup-list-p--scomment {
  color: #CC3302;
  margin-top: 8px;
}

/* ----商品一覧画面：ピックアップ：block-pickup-list-w---- */

.block-pickup-list-w li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.block-pickup-list-w--item-body {
  display: flex;
  width: 450px;
}

.block-pickup-list-w--image {
  width: 142px;
}

.block-pickup-list-w--image figure {
  background: #f5f5f5;
  width: 142px;
  height: 142px;
}

.block-pickup-list-w--item-description {
  width: 308px;
  padding-left: 20px;
  padding-right: 20px;
}

.block-pickup-list-w--goods-name a {
  color: #000;
  text-decoration: underline;
}

.block-pickup-list-w--add-cart .block-list-add-cart-btn {
  display: block;
  padding: 8px 0;
  border-bottom-width: 2px;
  width: 160px;
}

.block-pickup-list-w--add-cart .block-list-custom-order-btn {
  display: block;
  padding: 8px 0;
  width: 160px;
  margin-bottom: 5px;
}

.block-pickup-list-w .price {
  font-weight: bold;
}

.block-pickup-list-w .price,
.block-pickup-list-w .net-price,
.block-pickup-list-w .default-price,
.block-pickup-list-w .exchange-price,
.block-pickup-list-w .block-exchange-price--rate-dt {
  text-align: right;
}

.block-pickup-list-w--scomment {
  color: #cc3302;
}

/* ----商品一覧画面：サムネイル：block-thumbnail-t---- */

.block-thumbnail-t li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.block-thumbnail-t--goods {
  width: 200px;
  margin-left: 33px;
}

.block-thumbnail-t--goods:first-of-type {
  margin-left: 0;
}

.block-thumbnail-t--goods-image figure {
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

.block-thumbnail-t--goods a {
  color: #000;
  text-decoration: underline;
}

.block-thumbnail-t--goods-description {
  margin-top: 20px;
}

.block-thumbnail-t--goods .price {
  font-weight: bold;
}

.block-thumbnail-t--goods .price,
.block-thumbnail-t--goods .net-price,
.block-thumbnail-t--goods .default-price,
.block-thumbnail-t--goods .exchange-price,
.block-thumbnail-t--goods .block-exchange-price--rate-dt {
  text-align: right;
}

.block-thumbnail-t--scomment {
  color: #cc3302;
}

/* ----商品一覧画面：ランキング：block-ranking-r---- */

.block-ranking-r li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.block-ranking-r--goods {
  /* flex-basis: 200px; */
  margin-left: 33px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.block-ranking-r--goods:first-of-type {
  margin-left: 0;
}

.block-ranking-r--goods-image figure {
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

.block-ranking-r--goods a {
  text-decoration: underline;
}

.block-ranking-r--goods-description {
  width: 200px;
  margin-top: 16px;
}

.block-ranking-r--goods .price {
  font-weight: bold;
}

.block-ranking-r--goods .price,
.block-ranking-r--goods .net-price,
.block-ranking-r--goods .default-price,
.block-ranking-r--goods .exchange-price,
.block-ranking-r--goods .block-exchange-price--rate-dt {
  text-align: right;
}

.block-ranking-r--scomment {
  color: #cc3302;
  margin-top: 8px;
}

/* ランキングアイコン */
.block-ranking-r--goods-image {
  position: relative;
}

.block-ranking-r--goods-image .block-ranking-r--rank {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 32px;
  height: 32px;
  background: #5286C6;
  border-radius: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

/* ----商品一覧画面：サムネイル(閲覧履歴)：block-thumbnail-h---- */

.block-thumbnail-h {
  margin: 10px 0;
}

.block-thumbnail-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block-thumbnail-h li {
  width: 142px;
  margin-left: 9px;
}

.block-thumbnail-h li:nth-child(6n+1) {
  margin-left: 0;
}

.block-thumbnail-h--goods-image figure {
  background: #f5f5f5;
  width: 142px;
  height: 142px;
}

.block-thumbnail-h--goods-description {
  margin-top: 20px;
}

.block-thumbnail-h--goods .price {
  font-weight: bold;
}

.block-thumbnail-h--goods .price,
.block-thumbnail-h--goods .net-price,
.block-thumbnail-h--goods .default-price,
.block-thumbnail-h--goods .exchange-price,
.block-thumbnail-h--goods .block-exchange-price--rate-dt {
  text-align: right;
}

.block-thumbnail-h--scomment {
  color: #cc3302;
  display: none;
}

/* ----商品一覧画面：リスト：block-list-s---- */

.block-list-s li:first-child {
  border-top: 1px solid #444;
}

.block-list-s li {
  display: block;
  border-bottom: 1px solid #444;
  margin: 0;
  padding: 5px 0;
}

.block-list-s div {
  display: inline;
}

.block-list-s--goods-name,
.block-list-s--price-items div {
  padding-right: 1em;
}

.block-list-s--goods-name a {
  color: #000;
  text-decoration: underline;
}

.block-list-s .price {
  font-weight: bold;
}

.block-list-s--scomment {
  color: #cc3302;
}

/* ----商品一覧画面：買い物かご：block-cart-i---- */

.block-cart-i li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.block-cart-i--goods {
  flex-basis: 200px;
  margin-left: 33px;
}

.block-cart-i--goods:first-of-type {
  margin-left: 0;
}

.block-cart-i--goods-image figure {
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

.block-cart-i--goods a {
  text-decoration: underline;
}

.block-cart-i--goods-description {
  margin-top: 20px;
}

.block-cart-i--goods .price {
  font-weight: bold;
}

.block-cart-i--goods .price,
.block-cart-i--goods .net-price,
.block-cart-i--goods .default-price,
.block-cart-i--goods .exchange-price,
.block-cart-i--goods .block-exchange-price--rate-dt {
  text-align: right;
}

.block-cart-i--scomment {
  color: #cc3302;
}

/* ----商品一覧画面：商品詳細：block-goods-detail-j---- */

.block-goods-detail-j li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.block-goods-detail-j--goods {
  flex-basis: 200px;
  margin-left: 33px;
}

.block-goods-detail-j--goods:first-of-type {
  margin-left: 0;
}

.block-goods-detail-j--goods-image figure {
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

.block-goods-detail-j--goods a {
  text-decoration: underline;
}

.block-goods-detail-j--goods-description {
  margin-top: 20px;
}

.block-goods-detail-j--goods .price {
  font-weight: bold;
}

.block-goods-detail-j--goods .price,
.block-goods-detail-j--goods .net-price,
.block-goods-detail-j--goods .default-price,
.block-goods-detail-j--goods .exchange-price,
.block-goods-detail-j--goods .block-exchange-price--rate-dt {
  text-align: right;
}

.block-goods-detail-j--scomment {
  color: #cc3302;
}

/* ----商品一覧画面：商品名：block-goods-name-n---- */

.block-goods-name-n li:first-child {
  border-top: 1px solid #444;
}

.block-goods-name-n li {
  display: block;
  border-bottom: 1px solid #444;
  margin: 0;
  padding: 5px 0;
}

.block-goods-name-n dt {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding-right: 1em;
}
.block-goods-name-n dd {
  display: inline-block;
  vertical-align: top;
}

.block-goods-name-n a {
  color: #000;
  text-decoration: underline;
}

/* ----商品一覧画面：ブランド画面：block-goods-list-x---- */

.block-goods-list-x--items li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block-goods-list-x--item-body {
  flex-basis: 200px;
  margin-left: 33px;
}

.block-goods-list-x--item-body:first-of-type {
  margin-left: 0;
}

.block-goods-list-x--image figure {
  background: #f5f5f5;
  width: 200px;
  height: 200px;
}

/* ----商品一覧画面：カート画面：block-goods-list-c---- */

.block-goods-list-c--items li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block-goods-list-c--item-body {
  flex-basis: 180px;
  margin-left: 24px;
}

.block-goods-list-c--item-body:first-of-type {
  margin-left: 0;
}

.block-goods-list-c--image figure {
  background: #f5f5f5;
  width: 180px;
  height: 180px;
}

/* ----カテゴリー画面：ピックアップ：block-category-style-p---- */

.block-category-style-p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
}

.block-category-style-p--item {
  flex-basis: 440px;
  overflow: hidden;
}

.block-category-style-p--item:nth-child(2n) {
  margin: 0 0 0 20px;
}

.block-category-style-p--item-name {
  font-size: 16px;
  border-bottom: #444 dashed 1px;
  padding-bottom: 10px;
  clear: both;
}

.block-category-style-p--item-image {
  width: 143px;
  float: left;
}

.block-category-style-p--item-comment {
  width: 275px;
  float: right;
}

/* ----カテゴリー画面：詳細：block-category-style-d---- */

/* ----カテゴリー画面：孫カテゴリ：block-category-style-g---- */

.block-category-style-g {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
}

.block-category-style-g--item:nth-child(2n) {
  margin: 0 0 0 20px;
}

.block-category-style-g--item {
  flex-basis: 440px;
  overflow: hidden;
}

.block-category-style-g--item-name {
  font-size: 16px;
  border-bottom: #444 dashed 1px;
  padding-bottom: 10px;
}

.block-category-style-g--item-image {
  width: 143px;
  float: left;
}

.block-category-style-g--item-comment {
  width: 275px;
  float: right;
}

.block-category-style-g--item ul {
  clear: both;
  margin: 10px 10px 0 10px;
  padding: 0;
}

.block-category-style-g--item ul li {
  margin: 0 0 0 2em;
  padding: 0;
  list-style: square;
}

/* ----カテゴリー画面：一覧：block-category-style-l---- */

.block-category-style-l--item-name {
  display: inline;
}

.block-category-style-l--splitter {
  margin: 0 5px;
}

/* ----カテゴリー画面：サムネイル：block-category-style-t---- */

.block-category-style-t {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
}

.block-category-style-t--item {
  flex-basis: 210px;
  overflow: hidden;
  margin: 0 0 0 20px;
}

.block-category-style-t--item:nth-child(4n+1) {
  margin: 0;
}

/* ----カテゴリーツリー---- */
#block_of_categorytree {
  display: none;
}

.block-category-tree--item__open,
.block-category-tree--item {
  border-top: none;
}

.block-category-tree--item__open a,
.block-category-tree--item a,
.block-category-tree--item > span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 43px;
}

.block-category-tree--level-2 > li {
  text-indent: 10px;
}

.block-category-tree--level-3 > li {
  text-indent: 20px;
}

.block-category-tree--level-4 > li {
  text-indent: 30px;
}

.block-category-tree--image {
  width: 43px;
  height: 43px;
  margin-right: 9px;
}

/* ----ジャンルツリー---- */
.pane-block--title.block-genre-tree--header {
  display: none;
}

.genre-link-wrapper {
  display: flex;
  align-items: center;
}

.genre-link-wrapper a>span {
  font-size: 16px;
  font-weight: 500;
}

.genre-arrow {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

ul.block-genre-tree--items.block-genre-tree--level1>.block-genre-tree--item>.genre-link-wrapper>.genre-arrow::before,
ul.block-genre-tree--items.block-genre-tree--level1>.block-genre-tree--item__open>.genre-link-wrapper>.genre-arrow::before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 5px;
  right: 8.5px;
  background: #8BB0C7;
  transition: all .4s;
}

ul.block-genre-tree--items.block-genre-tree--level1>.block-genre-tree--item.open>.genre-link-wrapper>.genre-arrow::before,
ul.block-genre-tree--items.block-genre-tree--level1>.block-genre-tree--item__open.open>.genre-link-wrapper>.genre-arrow::before {
  transform: rotate(90deg);
  top: 5px;
}

ul.block-genre-tree--items.block-genre-tree--level1>.block-genre-tree--item>.genre-link-wrapper>.genre-arrow::after,
ul.block-genre-tree--items.block-genre-tree--level1>.block-genre-tree--item__open>.genre-link-wrapper>.genre-arrow::after {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  transform: translateX(-50%);
  background: #8BB0C7;
  transform: rotate(90deg);
}

.block-genre-tree--item__open,
.block-genre-tree--item {

}
.block-genre-tree--items {
  margin-bottom: 10px;
}
.block-genre-tree--item.genre-tree-border,
.block-genre-tree--item__open.genre-tree-border {
  border-top: 1px solid #DADFE3;
  margin-top: 40px;
  padding-top: 20px;
}

.block-genre-tree--item__open a,
.block-genre-tree--item a,
.block-genre-tree--item>span {
  display: flex;
  align-items: center;
  width: 100%;
  height: unset;
  min-height: 32px;
  padding: 0 12px 0 0;
  word-break: break-all;
}
.genre-link-wrapper a:hover {
  background: rgb(82 134 198 / 0.2);
}

ul.block-genre-tree--items.block-genre-tree--level1>li>a {
  position: relative;
}

.block-genre-tree--level2>li {
  text-indent: 10px;
}

.block-genre-tree--items.block-genre-tree--level2>li>.genre-link-wrapper > a {
  padding: 0 12px 0 16px;
}
ul.block-genre-tree--items.block-genre-tree--level2>.block-genre-tree--item>.genre-link-wrapper>.genre-arrow::before,
ul.block-genre-tree--items.block-genre-tree--level2>.block-genre-tree--item__open>.genre-link-wrapper>.genre-arrow::before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 5px;
  right: 8.5px;
  background: #8BB0C7;
  transition: all .4s;
}
ul.block-genre-tree--items.block-genre-tree--level2>.block-genre-tree--item.open>.genre-link-wrapper>.genre-arrow::before,
ul.block-genre-tree--items.block-genre-tree--level2>.block-genre-tree--item__open.open>.genre-link-wrapper>.genre-arrow::before {
  transform: rotate(90deg);
  top: 5px;
}

ul.block-genre-tree--items.block-genre-tree--level2>.block-genre-tree--item>.genre-link-wrapper>.genre-arrow::after,
ul.block-genre-tree--items.block-genre-tree--level2>.block-genre-tree--item__open>.genre-link-wrapper>.genre-arrow::after {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  transform: translateX(-50%);
  background: #8BB0C7;
  transform: rotate(90deg);
}

.block-genre-tree--level-3>li {
  text-indent: 20px;
}

ul.block-genre-tree--items.block-genre-tree--level3>.block-genre-tree--item>.genre-link-wrapper>.genre-arrow::before,
ul.block-genre-tree--items.block-genre-tree--level3>.block-genre-tree--item__open>.genre-link-wrapper>.genre-arrow::before {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 5px;
  right: 8.5px;
  background: #8BB0C7;
  transition: all .4s;
}
ul.block-genre-tree--items.block-genre-tree--level3>.block-genre-tree--item.open>.genre-link-wrapper>.genre-arrow::before,
ul.block-genre-tree--items.block-genre-tree--level3>.block-genre-tree--item__open.open>.genre-link-wrapper>.genre-arrow::before {
  transform: rotate(90deg);
  top: 5px;
}

ul.block-genre-tree--items.block-genre-tree--level3>.block-genre-tree--item>.genre-link-wrapper>.genre-arrow::after,
ul.block-genre-tree--items.block-genre-tree--level3>.block-genre-tree--item__open>.genre-link-wrapper>.genre-arrow::after {
  content: "";
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  transform: translateX(-50%);
  background: #8BB0C7;
  transform: rotate(90deg);
}

.block-genre-tree--items.block-genre-tree--level3>li>.genre-link-wrapper>a {
  position: relative;
}

.block-genre-tree--items.block-genre-tree--level3>li>.genre-link-wrapper>a>span {
  padding-left: 30px;
}
.block-genre-tree--items.block-genre-tree--level4>li>.genre-link-wrapper>a>span {
  padding-left: 40px;
  white-space: nowrap;
}
.block-genre-tree--level4>li {
  text-indent: 30px;
}
.block-genre-tree--image {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  display: none;
}



/* ----絞り込み検索---- */

.block-filter--treeitem {
  border-top: #eee 1px solid;
}

.block-filter--tree-1 > li:first-child {
  border-top: none;
}

.block-filter--tree-2 > li {
  padding-left: 10px;
}

.block-filter--tree-3 > li {
  padding-left: 20px;
}

.block-filter--tree-4 > li {
  padding-left: 30px;
}

.block-filter--treeitem-container {
  width: 100%;
  display: table;
}

.block-filter--treeitem-dir {
  display: table-cell;
  height: 43px;
  width: 15px;
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
}

.block-filter--treeitem-dir > div {
  transform: rotate(90deg);
}

.block-filter--treeitem-dir__close > div {
  transform: rotate(0);
}

.block-filter--treeitem-name {
  display: table-cell;
  padding-left: 5px;
  height: 43px;
  vertical-align: middle;
  text-align: left;
}

.block-filter--treeitem-selected {
  color: #c00;
}

.block-filter--image {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  margin-right: 5px;
}

.block-filter--image-check {
  position: relative;
  display: block;
}

.block-filter--image-check i {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 20px;
}

.block-filter--image-check:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.block-filter--close .block-filter--list-inner-accordion,
.block-filter--close .block-filter--treelist-inner-accordion,
.block-filter--close .block-filter--select-inner-accordion,
.block-filter--close .block-filter--imagelist-inner-accordion {
  display: none;
}

.block-filter--option-items img {
  vertical-align: middle;
}

/* ----クイックビュー---- */

.block-quickview {
  display: none;
  position: absolute;
  z-index: 10000;
  overflow: visible;
  width: auto;
  max-width: 324px;
  height: auto;
  padding: 10px;
  border: 1px solid;
  background-color: #fff;
}

.block-quickview-line {
  overflow: hidden;
  width: 100%;
}

.block-quickview-item {
  display: inline-block;
  width: 142px;
}
